<% include common/head_header %><% include common/body_header %>
 	<script>
		$(window).ready(function () {
			if (<%=err%>) alert("<%=errmsg%>");
		});
	</script>
   
    <section class="container">
        <h1 class="text-center" style="margin-top:140px; font-weight:400; color:#333; font-size:40px;">ADMIN LOGIN</h1>
        <h5 class="text-center">프로그라피 운영진 전용 로그인</h5>
        <div class="w3-border-bottom w3-border-lightgray half-p"></div>
        <!--  ..........  -->
        <div class="box" style="height:50px;"></div>
        <!-- 중간에 띄어놓음 -->
        <!--  ..........  -->
        <div class="row">
            <div class="col-sm-3" style="weight:auto; height:auto;"> </div>
            <div class="login-form col-sm-6">
                <form method="post" class="form-horizontal">
                    <label for="admin-id">Admin ID</label>
                    <input type="text" class="login-input" id="admin_id" name="admin_id" placeholder="운영진 아이디를 입력하세요">

                    <label for="admin-pw">Password</label>
                    <input type="password" class="login-input" id="admin_pw" name="admin_pw" placeholder="Password">

                    <input type="submit" value="LOGIN" class="login-btn">
                </form>
            </div>
            <div class="col-sm-3" style="weight:auto; height:auto;"> </div>
        </div>
        <div class="box" style="height:150px;"></div>
    </section>

<% include common/footer %>
