<body id="mypage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar" style="background-color:#0a88a7;">
        <div class="container">
            <div class="navbar-header">
                <!-- 모바일 햄버거 메뉴 버튼 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 상단 로고 -->
                <a class="navbar-brand" href="/"><img src="img/logo-03.png" alt="white-logo" class="logo-img"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/feed/logout">로그아웃</a></li>
                    <li><a href="/">홈페이지</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav end -->
