	<!-- footer -->
	<section class="text-center">
		<br>
		<img src="img/logo-01.svg" alt="Prography-logo" class="footer-logo-img" style="opacity:0.3;">
		<h6 style="margin-bottom:20px">프로그라피 / Prography</h6>
		<p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
		<p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
		<br>
	</section>
    <div class="box" style="height:100px;"></div>
	<!-- footer end -->
	<script type="text/javascript" src="js/master.js"></script>
</body>
</html>
