<% include common/head_header %>
<link rel="stylesheet" href="css/about.css">
<% include common/body_header %>
	<section style="margin-top:-60px; margin-bottom:0px; background-color:#222;">
		<div class="ab-img-box">
			<img src="img/ab-1.JPG" alt="" class="bg-img1">
			<div class=" ab-text-box">
				<img src="img/logo-03.svg" alt="white-logo" style="margin-bottom:20px; width:30%; opacity:0.1;">
				<h2>PROJECT</h2>
				<h1>프로그라피는<br>교육동아리가 아니다</h1>
				<p>단순히 지식을 습득하는 데에서 그치는 동아리가 아닙니다.<br>
				세상을 바꿀 수 있는 '서비스'를 직접 기획하고 개발하고 배포하는 수준 높은 프로젝트를 진행합니다.
				<br><br>
				프로젝트의 완성을 위해 프로그라피는 여러 방면에서 다양한 지원을 합니다.
				<br>각 분야의 멘토들이 진행하는 멘토링 세션과<br>
				팀별 프로젝트 프로그램을 통해 여러분이 꿈을 이룰 수 있도록 합니다.</p>
			</div>
		</div>

		<div class="ab-img-box">
			<img src="img/ab-2.JPG" alt="" class="bg-img2">
			<div class="row">
				<div class="col-sm- ab-text-box-r">
					<h2>MENTORING</h2>
					<h1>멘토와 멘티의<br>상생을 추구한다</h1>
					<p>멘토는 멘티를 이끌어주고<br>
					멘티는 멘토에게 새로운 영감을 줍니다.
					<br><br>
					멘토링은 단순한 지식 전달이 아닌,<br>
				    스스로 학습해나갈 수 있도록 해주는 가이드의 역할입니다.</p>
				</div>
			</div>
		</div>

		<div class="ab-img-box">
			<img src="img/ab-3.JPG" alt="" class="bg-img2">
			<div class=" ab-text-box">
				<h2>HUB</h2>
				<h1>프로그래머들과 디자이너들의<br>허브를 꿈꾸다</h1>
				<p>프로그라피는 함께 서비스를 만들어보고 싶은,<br>
				그리고 함께 성장하고 싶은 모든 사람들을 위한 허브입니다.
				<br><br>
				자유롭게 네트워킹하고, 대화하며 성장해나갈 수 있는
				<br>유쾌하고 화목한 공간입니다.</p>
			</div>
		</div>

		<div class="ab-img-box">
			<img src="img/ab-4.JPG" alt="" class="bg-img4">
			<div class="row">
				<div class="col-sm- ab-text-box-r">
					<h2>CODE of CONDUCT</h2>
					<h1>프로그라피 성명서</h1>
                    <p>프로그라피에서는 의사소통의 다양성을 존중하고 <br>소속, 성별, 외모, 나이에 따른 차별을 금지하며,<br>종교 및 정치적 성향들을 띄는 발언 또한 금지합니다.</p>
                    <br>
                    <p>친절하게 행동해 주세요.<br>우리는 모두 같은 공동체의 일부입니다. <br> 다른 사람이 함께하고 싶어 하는 사람이 되어주세요.</p>
                    <br>
                    <p>공손하게 행동해 주세요.<br>주위 구성원들에게 예의 바른 태도를 취하는 것을 잊지 마세요.<br> 비난하지 말고, 개인적인 인신공격이 포함된 언행을 하지 마세요.</p>
                    <br>
                    <p>협력해주세요.<br> 우리는 서로에게 많은 것을 배울 수 있습니다. <br> 지식을 공유하고 서로 이끌어주는 환경을 함께 만들어 주세요.</p>
                    <br>
                    <p>함께 참여해 주세요.<br> 토론에 참여하고, 정기적으로 직접 만나는 모임에 참석하고,<br> 피드백을 제공하고, 그 피드백을 구현하는 데 도움을 주세요.</p>
                    <br>
                    <p>이 성명서는 WTM(Women Techmakers)의 성명서를<br> 기본으로 하여 작성되었습니다.</p>
				</div>
			</div>
		</div>

	</section>

	<div class="box" style="width:100%; height:40px; background-color:#222; margin-bottom:-60px;"></div>

<% include common/footer %>
