<% include common/head_header %>
<link rel="stylesheet" href="css/about.css">
<% include common/body_header %>
	<!--.........................................................................................-->
	<section style="margin-top:-60px; margin-bottom:0px; background-color:#222;">
		<div class="ab-img-box">
			<img src="img/ab-1.JPG" alt="" class="bg-img1">
			<div class=" ab-text-box">
				<img src="img/logo-03.svg" alt="white-logo" style="margin-bottom:20px; width:30%; opacity:0.1;">
				<h2>PROJECT</h2>
				<h1>프로그라피는<br>교육동아리가 아니다</h1>
				<p>단순한 스터디 모임이 아닌 "새로움"을 위해<br>
				매 기수 멘토 프로젝트 & 멘티 프로젝트를 진행합니다.
				<br><br>
				"새로움이 무엇이냐" 묻고 싶으시다면,
				<br>프로그라피는 "여러분에게 있습니다."라고<br>
				대답하겠습니다.</p>
			</div>
		</div>

		<div class="ab-img-box">
			<img src="img/ab-2.JPG" alt="" class="bg-img2">
			<div class="row">
				<div class="col-sm- ab-text-box-r">
					<h2>MENTORING</h2>
					<h1>멘토와 멘티의<br>상생을 추구한다</h1>
					<p>멘토는 멘티를 이끌어주고<br>
					멘티는 멘토에게 새로운 영감을 줍니다.
					<br><br>
					세션마다 멘토링을 진행하며,<br>
					멘토는 멘토 프로젝트를 진행합니다.</p>
				</div>
			</div>
		</div>

		<div class="ab-img-box">
			<img src="img/ab-3.JPG" alt="" class="bg-img2">
			<div class=" ab-text-box">
				<h2>WEB + APP + DEEP</h2>
				<h1>프로그래머들의<br>허브를 꿈꾸다</h1>
				<p>웹은 웹, 앱은 앱, 딥러닝은 딥러닝<br>
				프로그라피는 거기서 멈추지 않는다.
				<br><br>
				웹과 앱, 딥러닝 멘티 멘토가 각각 모여
				<br>넓고 깊은 프로젝트를 진행합니다.</p>
			</div>
		</div>
	</section>

	<div class="box" style="width: 100%; height: 40px; background-color: #222;margin-bottom:-60px;"></div>

<% include common/footer %>
