<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/btn.css">
    <title>Activity</title>
  </head>





  <body id="mypage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar" style="background-color:#d81d45;">
      <div class="container">
        <div class="navbar-header">
          <!-- 모바일 햄버거 메뉴 버튼 -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- 상단 로고 -->
          <a class="navbar-brand" href="/"><img src="img/logo-03.svg"
            alt="white-logo" class="logo-img"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">소개</a></li>
            <li><a href="/activity">공식활동</a></li>
            <li><a href="/product">포트폴리오</a></li>
            <li><a href="/history">히스토리</a></li>
            <li><a href="/recruit">지원하기</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Prografeed</a></li>
                <li><a href="/login">Admin</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- nav end -->

<!--.........................................................................................-->
    <section>
      <div class="banner">
        <div class="bg-img">
        </div>
      </div>
      <div class="container">
        <div class="banner-contents">
          <p class="main-title">동아리 활동 내용들</p>
          <p class="sub-title">진정 빡코딩을 원하는자, 주저말고 지원하자!<br>라피가 그대를 기다리고 있다!</p>
        </div>
      </div>
    </section>

    <!--.........................................................................................-->




    <section class="container">
      <div class="activity-content-1">
        <div class="row" style="margin:0; padding:0;">
          <div class="col-sm-8">
            <div class="activity-img">

            </div>
            <img src="" alt="" class="activity-img">
          </div>
          <div class="col-sm-4">
            <div class="black-box">
              <p>제목입니다아으</p>
              <p>sdjflksjl</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--.........................................................................................-->
    <!--.........................................................................................-->
    <!-- footer -->
    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
    <footer class="text-center">
      <a class="up-arrow arrow-margin top" href="#" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up glyphicon-pink"></span></a><br><br>
      <img src="img/logo-03.svg" alt="Prography-logo" class="footer-logo-img">
      <h6 style="margin-bottom:20px">프로그라피 / Prography</h6>

      <div class="basic-button">
        <a href="/login" class="light-btn">Admin Page</a>
        <a href="#" class="light-btn">Prograpfeed</a>
      </div>

      <p class="p-p"><small>E:prography@gmail.com</small></p>
      <p class="p-p"><small>F:facebook.com/prography</small></p>
      <p class="p-p"><small>I:instagram.com/prography</small></p>
      <br>
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
    </footer>
    <!-- footer end -->
    <!--.........................................................................................-->
    <!--.........................................................................................-->
    <!--.........................................................................................-->
    <script type="text/javascript" src="js/master.js"></script>
    <script type="text/javascript" src="js/basic-nav.js"></script>

  </body>
</html>



























<!-- -->
