<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<style>
		.show{
			z-index: 999;
			display: none !important;
		}
		.show .overlay{
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.66);
			position: absolute;
			top:0;
			left: 0;
		}
		.show .img-show{
			visibility: hidden;
			width: 600px;
			height: 400px;
			background: #FFF;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		span{
			position: absolute;
			top:10px;
			right: 10px;
			z-index: 99;
		}
		.show-img img{
			width: 100%;
			height : 100%;
		}
	</style>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="css/magnific-popup.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
	<title>activity</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js" ></script>
	<script type="text/javascript">
	  //   $(function (){
		// 	$("#service1").click(function(){
		// 		var $img1 = new Image();
		// 		img1 src = 'min.png';
		//
		// 	$(".show").fadeIn();
		// 	$(".img-show img").attr("src",$img1);
		// 	});
		// });
		//  $(function (){
		// 	$("#service2").click(function(){
		// 		var $img2 = new Image();
		// 		img2 src = 'min.png';
		//
		// 	$(".show").fadeIn();
		// 	$(".img-show img").attr("src",$img2);
		// 	});
		// });

		/*$(function(){
			$('#service1').click(function(){
				$('#service1').hide();
  			});
		});
		$(function(){
			$('#service2').click(function(){
				$('#service2').hide();
  			});
		});
		$(function(){
			$('#service3').click(function(){
				$('#service3').hide();
  			});
		});
		$(function(){
			$('#service4').click(function(){
				$('#service4').hide();
  			});
		});
		$(function(){
			$('#service5').click(function(){
				$('#service5').hide();
  			});
		});
		$(function(){
			$('#service6').click(function(){
				$('#service6').hide();
  			});
		});*/
	</script>

</head>
<body>

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent" style="background-image: url('./img/background1.jpg');">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="img/logo.png" alt="logo">
							<img class="logo-alt" src="img/logo-alt.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="history">History</a></li>
					<li><a href="activity">Activities</a></li>
					<li><a href="project">Projects</a></li>
					<li><a href="recruit">Recruit</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our activities</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div id="service1" class="service">
						<i class="fa fa-diamond"></i>
						<h3>OT & MT</h3>
						<p>한 학기동안 함께 할 팀을 배정받고<br> 친목 도모를 위해 MT를 갑니다.<br> 놀고 즐길 수 있으며 회원끼리<br> 돈독해질 수 있는 시간입니다</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div id="service2" class="service">
						<i class="fa fa-rocket"></i>
						<h3>디바이드 앤 컨쿼 데이</h3>
						<p>짜여진 팀으로 진행되는 프로그라피<br> 활동 중 다른 팀과의 친목도모를 위해 새로운 팀을 만들어 활동하는<br> 날입니다</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div id="service3"  class="service">
						<i class="fa fa-diamond"></i>
						<h3>프로그라피 데이</h3>
						<p>2018년 5/12일<br> 공부하느라 열심히 하루하루 보내는 라피들을 위해 날씨 좋은 날 한강으로 떠나요!! </p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div id="service4" class="service">
						<i class="fa fa-rocket"></i>
						<h3>프로그라피 챌린지</h3>
						<p>이건 뭘까요?</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div id="service5" class="service">
						<i class="fa fa-pencil"></i>
						<h3>외부강연</h3>
						<p>외부에 유명한 연사의 강의를 듣고<br> ____________활동입니다<br><br>
						<b>*강연자*</b><br>
						 <b>마이다스아이티 대표 이형우</b><br>
						 <b>매쉬업엔젤스 대표 &emsp;이택경</b><br>
						 <b>BGF리테일&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;김준호</b><br>
						 </p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div id="service6" class="service">
						<i class="fa fa-flask"></i>
						<h3>최종 발표회</h3>
						<p>그동안 공부한 지식을 가지고 4주간의 프로젝트 & 해커톤 결과를 포스터와 제품시연 방식으로 발표하는<br> 활동입니다</p>
					</div><br>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>

		<div class ="show">
			<div class = "overlay"></div>
			<div class = "img-show">
				<span>X</span>
				<img src = "">
			</div>
		</div>

		<!-- /Container -->

	</div>
	<!-- /Service -->

</body>
</html>
