<% include common/head_header %>
<link rel="stylesheet" href="css/activity.css">
<% include common/body_header %>
    <section>
        <div class="banner">
            <div class="ac-bg-img"></div>
        </div>
        <div class="container">
            <div class="banner-contents">
                <p class="main-title">PROGRAPHY
                    <br>ACTIVITY PROGRAM</p>
                <p class="sub-title">즐기는 자가 승리한다!
                    <br>프로그라피 친목활동 & 프로젝트활동</p>
            </div>
        </div>
    </section>

    <!--.........................................................................................-->

    <!-- Portfolio Section
	   ================================================== -->
    <section id="portfolio" class="container-fluid">
        <div class="roww portfolio-content">
            <!-- portfolio-wrapper -->
            <div id="folio-wrapper" class="block-1-2 block-mob-full stack row">
                <div class="folio-item col-sm-6">
                    <div class="item-wrap">
                        <img src="img/ac-c-1.jpg" alt="Liberty">
                        <a class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">OT / MT</h3>
                                    <span class="folio-types">
		     					       	  기수가 시작할 때 팀별로 유대감을 형성하고 친목을 도모할 수 있다!
		     					       </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->

                <div class="folio-item col-sm-6">
                    <div class="item-wrap">
                        <img src="img/ac-c-2.jpg" alt="Shutterbug">
                        <a class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">멘토링</h3>
                                    <span class="folio-types">
		     					       	  웹 프론트엔드/백엔드, 앱, 딥러닝, UXUI로 구성된 멘토 군단이
														 세션 및 프로젝트 회의마다 다양한 방향으로 도움을 주게 된다.
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->

                <div class="folio-item col-sm-6">
                    <div class="item-wrap">
                        <img src="img/ac-c-3.jpg" alt="Clouds">
                        <a class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">프로그라피 데이</h3>
                                    <span class="folio-types">
		     					       	  한강, 동물원, 보물찾기 등 친목을 위해서라면
														프로그라피의 하루를 불태운다!
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->

                <div class="folio-item col-sm-6">
                    <div class="item-wrap">
                        <img src="img/ac-c-4.jpg" alt="Beetle">
                        <a class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">강연</h3>
                                    <span class="folio-types">
		     					       	  멘토군단의 멘토강연부터, 실무자들의 강연까지
														 놓칠 수 없다..!
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->

                <div class="folio-item col-sm-6">
                    <div class="item-wrap">
                        <img src="img/ac-c-5.jpg" alt="Lighthouse">
                        <a class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">최종 발표회</h3>
                                    <span class="folio-types">
		     					       	  프로그라피를 마무리하는 최종 발표회!
														 포스터를 배치하고 직접 시연까지 해본다!
		     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->

                <div class="folio-item col-sm-6">
                    <div class="item-wrap">
                        <img src="img/ac-c-6.jpg" alt="Salad">
                        <a class="overlay">
                            <div class="folio-item-table">
                                <div class="folio-item-cell">
                                    <h3 class="folio-title">프로그라피 해커톤</h3>
                                    <span class="folio-types">
			     					       	  프로그라피 일동 모여 웹, 앱, 딥러닝 팀이 한데모여
															 1박2일 쉬지 않고 코딩을 달린다.
			     					      </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /folio-item -->
            </div>
            <!-- /twelve -->

        </div>
        <!-- /portfolio-content -->

    </section>
    <!-- /portfolio -->
<% include common/footer %>
