<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/nav-blue.css">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="stylesheet" href="css/admin.css">
    <title>admin</title>
  </head>





  <body>
    <nav>
      <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
        <a href="/admin-total" class="w3-bar-item w3-button sidebar-font">전체 지원서</a>
        <a href="/admin" class="w3-bar-item w3-button sidebar-font">지원서 확인</a>
        <a href="#" class="w3-bar-item w3-button sidebar-font">결과 확인</a>
        <a href="/" class="w3-bar-item w3-button sidebar-font2">홈페이지</a>
      </div>
    </nav>


    <div class="w3-main" style="margin-left:200px">
      <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large hh" onclick="w3_open()">&#9776;</button>
        <div class="container">
          <p class="main-title" style="margin-top:20px;">운영진 페이지 <span class="p-md">- 지원서 확인</span></p>
          <!-- <a class="navbar-brand" href="#"><img src="img/logo-03.svg"
            alt="white-logo" class="logo-img"></a> -->
        </div>
      </div>

      <!--...................지원서 확인.................. -->
      <div class="container"  style="width:95%;">
        <div class="div-center">

          <!-- 선택하는 공간 -->
          <div class="box-gray">
            <!-- <form action="http://localhost:3000/admin" method="post"> -->
            <div class="row" style="padding-left:30px; padding-right:30px;">
              <div class="col-sm-3">
                <div class="per-90 div-center">
                  <label class="application-label" for="sel1">면접 날짜</label>
                  <select class="form-control" id="sel1" name="interview_date">
                    <option value="7">8월 7일 (토)</option>
                    <option value="8">8월 8일 (일)</option>
                  </select>
                  <!-- 라디오 버튼으로 할 시
                  <div class="radio">
                    <label><input type="radio" name="optradio">8월 7일 (토)</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">8월 8일 (일)</label>
                  </div>-->
                </div>
              </div>
              <!-- -->
              <div class="col-sm-3">
                <div class="per-90 div-center">
                  <label class="application-label" for="sel2">면접 시간</label>
                  <select class="form-control" id="sel2" name="interview_time">
                    <option value="11">AM 11:00 ~ 12:00</option>
                    <option value="12">PM 12:00 ~ 1:00</option>
                    <option value="13">PM 1:00 ~ 2:00</option>
                    <option value="14">PM 2:00 ~ 3:00</option>
                    <option value="15">PM 3:00 ~ 4:00</option>
                    <option value="16">PM 4:00 ~ 5:00</option>
                  </select>
                  <!-- 라디오 버튼으로 할 시
                  <div class="radio">
                    <label><input type="radio" name="optradio">AM 11:00 ~ 12:00</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">PM 12:00 ~ 1:00</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">PM 1:00 ~ 2:00</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">PM 2:00 ~ 3:00</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">PM 3:00 ~ 4:00</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">PM 4:00 ~ 5:00</label>
                  </div>-->
                </div>
              </div>
              <!-- -->
              <div class="col-sm-3">
                <div class="per-90 div-center" >
                  <label class="application-label" for="sel3">면접 타임</label>
                  <select class="form-control" id="sel3" name="interview_min">
                    <option value="00">:00 ~ :20</option>
                    <option value="20">:20 ~:40</option>
                    <option value="40">:40 ~ :00</option>
                  </select>
                </div>
              </div>
                <!-- </form> -->
              <!-- -->
              <div class="col-sm-3" style="padding:35px;">
                <button type="button" class="btn-gray-small-rec show3" onclick="searchMemberByTime()" >조회하기</button>
              </div>
              </div>
          </div>
<script type="text/javascript">
  function searchMemberByTime(){
    var date=$("#sel1 option:selected").val();
    var hour=$("#sel2 option:selected").val();
    var minute=$("#sel3 option:selected").val();
    console.log(date, hour, minute);
    $.ajax({
  				type: 'POST',
  				url: '/admin',
  				data: {
            date:date,
            hour:hour,
            minute:minute
          },
          dataType:"text",

          success: function(data) {
            alert(data);
          }
      });
      // console.log(typeof(date));

  }
</script>

          <!-- 지원서 보는 공간 -->
          <section id="apply" class="show4">
            <ul class="nav nav-tabs nav-tabs-d">
              <li class="active tab-33 text-center"-><a data-toggle="tab" href="#applicant1">강민정</a></li>
              <li class="tab-33 text-center"><a data-toggle="tab" href="#applicant2">박수현</a></li>
              <li class="tab-33 text-center"><a data-toggle="tab" href="#applicant3">-</a></li>
            </ul>

            <div class="tab-content w3-border-right w3-border-left w3-border-lightgray w3-bottombar">
<!--.................................................................................................... -->
              <div id="applicant1" class="tab-pane fade in active tab-box-pad">
                <button data-toggle="collapse" data-target="#personal-data-cut" class="cut-btn collapsed btn-c">인적사항 접기</button>
                <div class="per-90 div-center collapse in" id="personal-data-cut">
                  <div class="row">
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">이름</label>
                      <p class="output-box">강민정</p>
                    </div>
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">성별</label>
                      <p class="output-box">여자</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">생년월일</label>
                      <p class="output-box">93.12.28</p>
                    </div>
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">연락처 (중간 -를 생략하세요)</label>
                      <p class="output-box">010.9674.3553</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 margin-top-20">
                      <label class="application-label">소속대학 / 전공 / 학년</label>
                      <p class="output-box">단국대 녹지조경학과 4학년</p>
                    </div>
                  </div>

                  <div class="row margin-top-20">
                    <div class="col-sm-12">
                      <label class="application-label">현 거주지 및 가까운 역</label>
                      <p class="output-box">서울시 영등포구 양평동! 문래역 근처</p>
                    </div>
                  </div>

                  <div class="row margin-top-20">
                    <div class="col-sm-12">
                      <label class="application-label">지원분야</label>
                      <p class="output-box">웹 프론트 분야를 하고 싶습니다!</p>
                    </div>
                  </div>
                </div>


                <!--line-->
                <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

                <!--본격 내용-->
                <div class="per-90 div-center" style="margin-top :50px;">
                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[1] 간단히 자기소개를 해주세요! (500자 이내)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[2] 프로그라피에 지원하게 된 동기에 대해 말씀해주세요! (500자 이내)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[3] 프로그라피에서 만들어보고 싶은 것이 있다면 말해주세요! (300자 이내)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[4] 과거 활동했던 경험과 현재 하고 있는 활동에 대해 말씀해주세요!
                      <br><p class="p-pp" style="margin-left:-20px;">(ex. 학과활동, 동아리, 단체활동, 봉사활동, 수상내역, 인턴, 기타 등)</p></label>
                      <table class="table text-center" style="margin-top:20px;">
                        <tbody>
                          <tr class="thead" style="background-color:#f1f1f1;">
                            <td class="td-3">분야</td>
                            <td class="td-3">기간</td>
                            <td class="td-4">직책 및 활동</td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[5] 위에서 표현하지 못한 자기 자신에 대해 적어주세요 (길이 제한 없음)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <!--ot, mt 확인 버튼-->
                  <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
                  <!-- -->
                  <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                    <tbody>
                      <tr class="thead ">
                        <td class="td-1" style="background-color:#0a88a7; opacity:0.6; color:#fff;">시간</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">참석</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">불참석</td>
                      </tr>
                      <tr class="tbody">
                        <td class="td-1" style="background-color:#b2d7e1; color:#222;">OT (9/1)</td>
                        <form action="index.html" method="post">
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                        </form>
                      </tr>
                      <tr class="tbody">
                        <td class="td-1" style="background-color:#b2d7e1; color:#222;"><span>MT (9/1 ~ 2)</span></td>
                        <form action="index.html" method="post">
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                        </form>
                      </tr>
                    </tbody>
                  </table>


                </div>
              </div><!--탭 마무리-->
<!--.................................................................................................... -->
              <div id="applicant2" class="tab-pane fade tab-box-pad">
                <button data-toggle="collapse" data-target="#personal-data-cut2" class="cut-btn collapsed btn-c">인적사항 접기</button>
                <div class="per-90 div-center collapse in" id="personal-data-cut2">
                  <div class="row">
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">이름</label>
                      <p class="output-box">박수현</p>
                    </div>
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">성별</label>
                      <p class="output-box">여자</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">생년월일</label>
                      <p class="output-box">93.12.28</p>
                    </div>
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">연락처 (중간 -를 생략하세요)</label>
                      <p class="output-box">010.9674.3553</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 margin-top-20">
                      <label class="application-label">소속대학 / 전공 / 학년</label>
                      <p class="output-box">단국대 녹지조경학과 4학년</p>
                    </div>
                  </div>

                  <div class="row margin-top-20">
                    <div class="col-sm-12">
                      <label class="application-label">현 거주지 및 가까운 역</label>
                      <p class="output-box">서울시 영등포구 양평동! 문래역 근처</p>
                    </div>
                  </div>

                  <div class="row margin-top-20">
                    <div class="col-sm-12">
                      <label class="application-label">지원분야</label>
                      <p class="output-box">웹 프론트 분야를 하고 싶습니다!</p>
                    </div>
                  </div>

                </div>


                <!--line-->
                <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

                <!--본격 내용-->
                <div class="per-90 div-center" style="margin-top :50px;">
                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[1] 간단히 자기소개를 해주세요! (500자 이내)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[2] 프로그라피에 지원하게 된 동기에 대해 말씀해주세요! (500자 이내)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[3] 프로그라피에서 만들어보고 싶은 것이 있다면 말해주세요! (300자 이내)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[4] 과거 활동했던 경험과 현재 하고 있는 활동에 대해 말씀해주세요!
                      <br><p class="p-pp" style="margin-left:-20px;">(ex. 학과활동, 동아리, 단체활동, 봉사활동, 수상내역, 인턴, 기타 등)</p></label>
                      <table class="table text-center" style="margin-top:20px;">
                        <tbody>
                          <tr class="thead" style="background-color:#f1f1f1;">
                            <td class="td-3">분야</td>
                            <td class="td-3">기간</td>
                            <td class="td-4">직책 및 활동</td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">봉사활동</p></td>
                            <td class="td-3"><p class="output-box-table">2017.02 ~ 2017.03</p></td>
                            <td class="td-4"><p class="output-box-table text-left">초등학교 2학년을 상대로 코딩 교육봉사를 했습니다</p></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[5] 위에서 표현하지 못한 자기 자신에 대해 적어주세요 (길이 제한 없음)</label>
                      <p class="output-box">안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청
                      안녕 날소개하지ㅏ 이름은 김하온 직업은 트레블러 취미는 타이 치메리테이션독서영화시청</p>
                    </div>
                  </div>

                  <!--ot, mt 확인 버튼-->
                  <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
                  <!-- -->
                  <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                    <tbody>
                      <tr class="thead ">
                        <td class="td-1" style="background-color:#0a88a7; opacity:0.6; color:#fff;">시간</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">참석</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">불참석</td>
                      </tr>
                      <tr class="tbody">
                        <td class="td-1" style="background-color:#b2d7e1; color:#222;">OT (9/1)</td>
                        <form action="index.html" method="post">
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                        </form>
                      </tr>
                      <tr class="tbody">
                        <td class="td-1" style="background-color:#b2d7e1; color:#222;"><span>MT (9/1 ~ 2)</span></td>
                        <form action="index.html" method="post">
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><!--탭 마무리-->
<!--.................................................................................................... -->
              <div id="applicant3" class="tab-pane fade tab-box-pad">
                <button data-toggle="collapse" data-target="#personal-data-cut3" class="cut-btn collapsed btn-c">인적사항 접기</button>
                <div class="per-90 div-center collapse in" id="personal-data-cut3">
                  <div class="row">
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">이름</label>
                      <p class="output-box">-</p>
                    </div>
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">성별</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">생년월일</label>
                      <p class="output-box">-</p>
                    </div>
                    <div class="col-sm-6 margin-top-20">
                      <label class="application-label">연락처 (중간 -를 생략하세요)</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 margin-top-20">
                      <label class="application-label">소속대학 / 전공 / 학년</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row margin-top-20">
                    <div class="col-sm-12">
                      <label class="application-label">현 거주지 및 가까운 역</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row margin-top-20">
                    <div class="col-sm-12">
                      <label class="application-label">지원분야</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                </div>


                <!--line-->
                <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

                <!--본격 내용-->
                <div class="per-90 div-center" style="margin-top :50px;">
                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[1] 간단히 자기소개를 해주세요! (500자 이내)</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[2] 프로그라피에 지원하게 된 동기에 대해 말씀해주세요! (500자 이내)</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[3] 프로그라피에서 만들어보고 싶은 것이 있다면 말해주세요! (300자 이내)</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[4] 과거 활동했던 경험과 현재 하고 있는 활동에 대해 말씀해주세요!
                      <br><p class="p-pp" style="margin-left:-20px;">(ex. 학과활동, 동아리, 단체활동, 봉사활동, 수상내역, 인턴, 기타 등)</p></label>
                      <table class="table text-center" style="margin-top:20px;">
                        <tbody>
                          <tr class="thead" style="background-color:#f1f1f1;">
                            <td class="td-3">분야</td>
                            <td class="td-3">기간</td>
                            <td class="td-4">직책 및 활동</td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                          <tr class="tbody" style="background-color:#fff;">
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-3"><p class="output-box-table">-</p></td>
                            <td class="td-4"><p class="output-box-table text-left">-</p></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row margin-top-40">
                    <div class="col-sm-12">
                      <label class="application-label">[5] 위에서 표현하지 못한 자기 자신에 대해 적어주세요 (길이 제한 없음)</label>
                      <p class="output-box">-</p>
                    </div>
                  </div>



                  <!--ot, mt 확인 버튼-->
                  <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
                  <!-- -->
                  <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
                    <tbody>
                      <tr class="thead ">
                        <td class="td-1" style="background-color:#0a88a7; opacity:0.6; color:#fff;">시간</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">참석</td>
                        <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">불참석</td>
                      </tr>
                      <tr class="tbody">
                        <td class="td-1" style="background-color:#b2d7e1; color:#222;">OT (9/1)</td>
                        <form action="index.html" method="post">
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                        </form>
                      </tr>
                      <tr class="tbody">
                        <td class="td-1" style="background-color:#b2d7e1; color:#222;"><span>MT (9/1 ~ 2)</span></td>
                        <form action="index.html" method="post">
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                          <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                            <span class="checkmark"></span></label></td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><!--탭 마무리-->
<!--.................................................................................................... -->
            </div>
          </section>
        </div>
      </div>


















    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
    <!--.................................................................................................... -->
    <!-- footer -->
    <section class="text-center">
      <img src="img/logo-01.svg" alt="Prography-logo" class="footer-logo-img" style="opacity:0.3;">
      <br>
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
      <div style="height:20px;"></div><!-- 중간에 띄어놓음 -->
    </section>
    <!-- footer end -->
    <script type="text/javascript" src="js/master.js"></script>
  </body>
</html>
































<!-- -->
