<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/btn.css">
    <title>application</title>
  </head>
  <body style="background-color:#f9f9f9;">
<!--.................................................................................................... -->
    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->

    <section id="banner" class="container per-80">

      <!--로고 & line-->
      <!-- <img src="img/logo-01.svg" alt="white-logo" class="logo-middle-noclick"> -->
      <div class="w3-border-top w3-border-left w3-border-right w3-border-lightgray application-division"></div>

      <!--안내사항-->
      <div>
        <p class="l-explain text-left">프로그라피 3기 지원서</p>
        <p class="explain text-left" style="margin-top:-10px;">안녕하세요 프로그라피 3기 지원자님.
        해당 자료는 3기 모집 관련 자료에만 사용이 됩니다.
        <br>지원서 최종 제출일은 <strong>8월 1일 밤 12시</strong> 입니다. 그 이후에는 제출 및 수정이 불가능 합니다!</p>
      </div>

      <!--line-->
      <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; opacity:0.5;"></div>

      <!--인적사항-->
      <div class="per-90 div-center">
        <div class="row">
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">이름</label>
            <input class="w3-input w3-border" type="text" placeholder="김라피">
          </div>
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">성별</label>
            <input class="w3-input w3-border" type="text" placeholder="여 / 남">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">생년월일</label>
            <input class="w3-input w3-border" type="text" placeholder="99.01.01">
          </div>
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">연락처 (중간 -를 생략하세요)</label>
            <input class="w3-input w3-border" type="text" placeholder="010.1234.5678">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 margin-top-20">
            <label class="application-label">소속대학 / 전공 / 학년</label>
            <input class="w3-input w3-border" type="text" placeholder="ex) 단국대 녹지조경학과 4학년">
          </div>
        </div>

        <div class="row margin-top-20">
          <div class="col-sm-12">
            <label class="application-label">현 거주지 및 가까운 역</label>
            <input class="w3-input w3-border" type="text" placeholder="ex) 서울시 영등포구 ... / 문래역">
          </div>
        </div>

        <div class="row margin-top-20">
          <div class="col-sm-12">
            <label class="application-label">지원분야</label>
            <input class="w3-input w3-border" type="text" placeholder="웹 프론트앤드 or 백앤드 / 앱 개발 / 딥러닝 / UXUI 디자인">
          </div>
        </div>

      </div>


      <!--line-->
      <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

      <!--본격 내용-->
      <div class="per-90 div-center" style="margin-top :50px;">
        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[1] 간단히 자기소개를 해주세요! (500자 이내)</label>
            <textarea class="w3-input w3-border" rows="6" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[2] 프로그라피에 지원하게 된 동기에 대해 말씀해주세요! (500자 이내)</label>
            <textarea class="w3-input w3-border" rows="6" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[3] 프로그라피에서 만들어보고 싶은 것이 있다면 말해주세요! (300자 이내)</label>
            <textarea class="w3-input w3-border" rows="3" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[4] 과거 활동했던 경험과 현재 하고 있는 활동에 대해 말씀해주세요!
            <br><p class="p-pp" style="margin-left:-20px;">(ex. 학과활동, 동아리, 단체활동, 봉사활동, 수상내역, 인턴, 기타 등)</p></label>
            <table class="table text-center" style="margin-top:20px;">
              <tbody>
                <tr class="thead" style="background-color:#f1f1f1;">
                  <td class="td-3">분야</td>
                  <td class="td-3">기간</td>
                  <td class="td-4">직책 및 활동</td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[5] 위에서 표현하지 못한 자기 자신에 대해 적어주세요 (길이 제한 없음)</label>
            <textarea class="w3-input w3-border" rows="6" id="comment" placeholder=""></textarea>
          </div>
        </div>
      </div>

      <!--line-->
      <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>


      <!--마지막 안내 사항-->
      <p class="explain text-center">
      제출 전까지 <strong>'SAVE'</strong>로 작성하신 부분까지 저장하시고,
      최종 제출 시에만 <strong>'SUBMIT'</strong>으로 최종 제출하세요!
    <br>정민아???!!!! 여기 제출하기랑 저장하기 경고창들 한번씩 만들어야 할듯</p>



      <!-- 버튼 -->
      <form class="basic-button" action="#" method="post" style="width:150px; margin:0 auto; margin-top:30px;">
        <button type="button" class="orange-btn fixed-button">SAVE</button>
        <button type="submit" class="blue-btn">SUBMIT</button>
      </form>



      <!-- <div class="w3-border-bottom w3-border-left w3-border-right
      w3-border-lightgray application-bottom-division"></div> -->
    </section>
<!--.................................................................................................... -->


    <div class="box" style="height:150px;"></div><!-- 중간에 띄어놓음 -->



    <!--.................................................................................................... -->
    <!-- footer -->
    <section class="text-center">
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
      <div class="box" style="height:20px;"></div><!-- 중간에 띄어놓음 -->
    </section>
    <!-- footer end -->
    <script type="text/javascript" src="js/master.js"></script>

  </body>
</html>


























<!-- -->
