<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/btn.css">
    <title>application</title>
  </head>


    <section id="banner">
      <div class="banner2">
        <div class="bg-img2"></div>
      </div>
      <div class="container banner-contents">
        <a class="logo-middle" href="/index"><img src="img/logo-03.svg"
          alt="white-logo"></a>
        <p class="p-submain text-center">[ 프로그라피 3기 ]<br>
          <span>1차 서류전형 결과 확인</span></p>
<!--        <div class="w3-panel w3-border-top w3-border-white"
        style="width:70%; height:auto; margin-right:auto; margin-left:auto;"></div>-->
      </div>
    </section>
    <div class="box" style="height:150px;"></div><!-- 중간에 띄어놓음 -->




    <section id="result-before" class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <form action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control input-lg btn-white-nohover" placeholder="지원자의 메일을 적어주세요" name="send">
              <div class="input-group-btn">
                <button class="btn btn-default input-lg btn-orange-small" type="submit">Confirm</button></div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-1"></div>

      <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:14px;">
        * 본인 확인을 위해 메일을 적어주세요</span>
      </section>





    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
    <!-- footer -->
    <section class="text-center">
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
      <div class="box" style="height:20px;"></div><!-- 중간에 띄어놓음 -->
    </section>
    <!-- footer end -->
    <script type="text/javascript" src="js/master.js"></script>

  </body>
</html>


























<!-- -->
