<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/btn.css">
	
	<% include common/var_header %>
	<meta property="og:title" content="3기 지원서 작성" />
    <title>3기 지원서 작성</title>
  </head>
  <body style="background-color:#f9f9f9;">
<!--.................................................................................................... -->
    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->

    <section id="banner" class="container per-80">
	 <form method="post" action="/application">

      <!--로고 & line-->
      <!-- <img src="img/logo-01.svg" alt="white-logo" class="logo-middle-noclick"> -->
      <div class="w3-border-top w3-border-left w3-border-right w3-border-lightgray application-division"></div>

      <!--안내사항-->
      <div>
        <p class="l-explain text-left">프로그라피 3기 지원서</p>
        <p class="explain text-left" style="margin-top:-10px;">안녕하세요 프로그라피 3기 지원자님.
        해당 자료는 3기 모집 관련 자료에만 사용이 됩니다.
        <br>지원서 최종 제출일은 <strong>8월 1일 밤 12시</strong> 입니다. 그 이후에는 제출 및 수정이 불가능 합니다!</p>
      </div>

      <!--line-->
      <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; opacity:0.5;"></div>

      <!--인적사항-->
      <div class="per-90 div-center">
        <div class="row">
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">이메일</label>
            <input id="id" name="id" class="w3-input w3-border" value="<%=user%>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">이름</label>
            <input id="name" name="name" class="w3-input w3-border" type="text" placeholder="김라피">
          </div>
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">성별</label>
            <input id="sex" name="sex" class="w3-input w3-border" type="text" placeholder="여 / 남">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">생년월일 (중간 -를 생략하세요)</label>
            <input id="birth" name="birth" class="w3-input w3-border" type="text" placeholder="990101">
          </div>
          <div class="col-sm-6 margin-top-20">
            <label class="application-label">연락처 (중간 -를 생략하세요)</label>
            <input id="phone" name="phone" class="w3-input w3-border" type="text" placeholder="01012345678">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 margin-top-20">
            <label class="application-label">소속대학 / 전공 / 학년</label>
            <input id="college" name="college" class="w3-input w3-border" type="text" placeholder="ex) 단국대 녹지조경학과 4학년">
          </div>
        </div>

        <div class="row margin-top-20">
          <div class="col-sm-12">
            <label class="application-label">현 거주지 및 가까운 역</label>
            <input id="address" name="address" class="w3-input w3-border" type="text" placeholder="ex) 서울시 영등포구 ... / 문래역">
          </div>
        </div>

        <div class="row margin-top-20">
          <div class="col-sm-12">
            <label class="application-label">지원분야</label>
            <input id="field" name="field" class="w3-input w3-border" type="text" placeholder="웹 프론트앤드 or 백앤드 / 앱 개발 / 딥러닝 / UXUI 디자인">
          </div>
        </div>

      </div>


      <!--line-->
      <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>

      <!--본격 내용-->
      <div class="per-90 div-center" style="margin-top :50px;">
        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[1] 간단히 자기소개를 해주세요! (500자 이내)</label>
            <textarea name="q1" class="w3-input w3-border" rows="6" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[2] 프로그라피에 지원하게 된 동기에 대해 말씀해주세요! (500자 이내)</label>
            <textarea name="q2" class="w3-input w3-border" rows="6" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[3] 프로그라피에서 만들어보고 싶은 것이 있다면 말해주세요! (300자 이내)</label>
            <textarea name="q3" class="w3-input w3-border" rows="3" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[4] 과거 활동했던 경험과 현재 하고 있는 활동에 대해 말씀해주세요!
            <br><p class="p-pp" style="margin-left:-20px;">(ex. 학과활동, 동아리, 단체활동, 봉사활동, 수상내역, 인턴, 기타 등)</p></label>
            <table class="table text-center" style="margin-top:20px;">
              <tbody>
                <tr class="thead" style="background-color:#f1f1f1;">
                  <td class="td-3">분야</td>
                  <td class="td-3">기간</td>
                  <td class="td-4">직책 및 활동</td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
                <tr class="tbody" style="background-color:#fff;">
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="q4_field"></td>
                  <td class="td-3"><input class="w3-input w3-border-lightgray" type="text" name="term"></td>
                  <td class="td-4"><input class="w3-input w3-border-lightgray" type="text" name="activity"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row margin-top-60">
          <div class="col-sm-12">
            <label class="application-label">[5] 위에서 표현하지 못한 자기 자신에 대해 적어주세요 (길이 제한 없음)</label>
            <textarea name="q5" class="w3-input w3-border" rows="6" id="comment" placeholder=""></textarea>
          </div>
        </div>

        <!--ot, mt 확인 버튼-->
        <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
        <!-- -->
        <table class="table table-striped text-center" style="width:100%; margin-right:auto; margin-left:auto;">
          <tbody>
            <tr class="thead ">
              <td class="td-1" style="background-color:#0a88a7; opacity:0.6; color:#fff;">시간</td>
              <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">참석</td>
              <td class="td-2" style="background-color:#0a88a7; opacity:0.8; color:#fff;">불참석</td>
            </tr>
            <tr class="tbody">
              <td class="td-1" style="background-color:#b2d7e1; color:#222;">OT (9/1)</td>
              <form action="index.html" method="post">
                <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                  <span class="checkmark"></span></label></td>
                <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                  <span class="checkmark"></span></label></td>
              </form>
            </tr>
            <tr class="tbody">
              <td class="td-1" style="background-color:#b2d7e1; color:#222;"><span>MT (9/1 ~ 2)</span></td>
              <form action="index.html" method="post">
                <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                  <span class="checkmark"></span></label></td>
                <td class="td-2"><label class="label-circle"><input type="radio" name="radio">
                  <span class="checkmark"></span></label></td>
              </form>
            </tr>
          </tbody>
        </table>


        <span class="help-block text-center" style="margin-top:5px; color:gray; font-size:12px;">
          ※ OT, MT는 필참입니다 ※</span>



      <!--line-->
      <div class="w3-border-top w3-border-lightgray" style="margin-bottom:20px; margin-top:40px; opacity:0.5;"></div>


      <!--마지막 안내 사항-->
      <p class="explain text-center">
      제출 전까지 <strong>'SAVE'</strong>로 작성하신 부분까지 저장하시고,
      최종 제출 시에만 <strong>'SUBMIT'</strong>으로 최종 제출하세요!



      <!-- 버튼 -->
      <!--
      <form class="basic-button" action="#" method="post" style="width:150px; margin:0 auto; margin-top:30px;">
        <button type="button" class="orange-btn fixed-button" name="btn_js_alert"
        id="btn_js_alert" onclick="btn_js_alert_click();" value="알림창">SAVE</button>

        <button type="submit" name="btn_js_confirm" id="btn_js_confirm"
        onclick="btn_js_confirm_click();" value="확인창" class="blue-btn">SUBMIT</button>
      </form>
    -->


      <!-- Button trigger modal -->
      <div class="basic-button" action="#" method="post" style="width:150px; margin:0 auto; margin-top:30px;">
        <button name="save" class="orange-btn fixed-button" data-toggle="modal" data-target="#exampleModalCenter1" id="saveButton">SAVE</button>
        <button type="button" name="pre-submit" class="blue-btn" data-toggle="modal" data-target="#exampleModalCenter2">SUBMIT</button>
	  </div>

      <!-- Modal-alert -->
      <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle1">지원서 중간 저장</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              성공적으로 저장되었습니다. <br>
              9월1일까지 최종제출을 잊지마세요! ღ'ᴗ'ღ
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal confirm-->
      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle2">지원서 최종 제출</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              지원서를 제출하시겠습니까?
              <br>최종 제출하시면 더 이상 수정이 불가합니다!
              <br>
              <br>아직 제출하실 준비가 안되셨다면, 우선 SAVE 해두셔도 좋습니다.
            </div>
			
            <div class="modal-footer" method="post" action="#">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button name="submit" class="btn btn-primary" data-toggle="modal" data-target="#submitapplication"  data-dismiss="modal" id="submitButton">최종 제출하기</button>

            </div>
          </div>
        </div>
      </div>

      <!-- Modal confirm close-->
      <div class="modal fade" id="submitapplication" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle3">지원서 최종 제출 </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              제출 완료!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
	 </form>
	 
<!--.................................................................................................... -->
	<script type="text/javascript">
	
	$("#saveButton").click(function(){
		/*var date=$("#sel1 option:selected").val();
		var hour=$("#sel2 option:selected").val();
		var minute=$("#sel3 option:selected").val(); */
		
		/*var params1 = [id];
		var params2 = [id, body.sex, body.birth, body.college, body.address, body.field, body.q1, body.q2, body.q3, body.q5];
		var params3 = [body.name, body.phone, id];
		var q4 = [body.q4_field, body.term, body.activity];
		var update1 = [body.sex, body.birth, body.college, body.address, body.field, body.q1, body.q2, body.q3, body.q5, id];
		var update2 = [body.name, body.phone, id];
		var update3 = [body.q4_field, body.term, body.activity, id]; */
		
		var id = $("#id").val();
		var name = $("#name).
	
		$.ajax({
			type:"POST",
			url:'/application' // 이것도 틀렸는데 ㅠㅠ id값이 hash값이어야함... 어떻게 하지?ㅠㅠ
			
			
			
			success: function(data){
				console.log(data);
			}
		});
	});
	
	$("#submitButton").click(function(){
		$.ajax({
		});
	});
		
	</script>
	 
	 
	 

      <!-- <div class="w3-border-bottom w3-border-left w3-border-right
      w3-border-lightgray application-bottom-division"></div> -->
    </section>
<!--.................................................................................................... -->


    <div class="box" style="height:150px;"></div><!-- 중간에 띄어놓음 -->



    <!--.................................................................................................... -->
    <!-- footer -->
    <section class="text-center">
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
      <div class="box" style="height:20px;"></div><!-- 중간에 띄어놓음 -->
    </section>
    <!-- footer end -->
    <script type="text/javascript" src="js/master.js"></script>

  </body>
</html>


























<!-- -->
