<% include common/head_header %>
<link rel="stylesheet" href="css/demo-day.css">

<!--% include common/body_header %-->
<script>
  $(window).ready(function () {
    if (<%= post %>) alert('참가 신청 완료 되었습니다!');
  });
</script>
<section class="demoday-main-banner">
    <div class="demoday-banner-filter">
        <div class="demoday-banner-content">
            <img class="keyframe-appear" src="img/demo-day/mainbanner.svg">
            <div class="demoday-button-wrap">
                <a href="/">About Us</a>
                <a href="#enrollForm">신청하기</a>
            </div>
        </div>
    </div>

</section>
<section class="container about">
    <div class="about-content">
        <div class="about-title">
            Prography 4기 Demoday
        </div>
        <div class="about-text">
            프로그라피는 새로운 IT 서비스를 만들어내고자 하는 개발자들의 허브입니다.
            프로그라피 4기 데모데이는 5개월간 총 6개 팀이 함께 기획하고 개발한 서비스를 세상에 공개하는 행사입니다.
            각 팀의 생생한 개발기와, 서비스의 소개, 체험형 데모를 한자리에서 확인할 수 있습니다.
            여러분을 데모데이에 초대합니다!
        </div>
        <div class="about-info-card-wrap">
            <div class="about-info-card">
                <div class="about-info-card-title">일시</div>
                <div class="about-info-card-divider"></div>
                <div class="about-info-card-text">7월 27일 토요일
                    <br/>14:00 - 18:00
                </div>
            </div>
            <div class="about-info-card">
                <div class="about-info-card-title">장소</div>
                <div class="about-info-card-divider"></div>
                <div class="about-info-card-text">역삼 MARU180<br/>
                    <a href="https://place.map.kakao.com/24373614">(서울 강남구 역삼로 180 MARU 180)</a>
                </div>
            </div>
            <div class="about-info-card">
                <div class="about-info-card-title">참가대상 및 비용</div>
                <div class="about-info-card-divider"></div>
                <div class="about-info-card-text">개발과 스타트업에 관심이 있는 누구나, 무료</div>
            </div>
        </div>
    </div>
</section>


<div class="program-bg">
    <div class="program-bg-filter">
        <section class="container about">
            <div class="program-content">
                <div class="program-title">
                    프로그램
                </div>
                <div class="program-text">
                    2019년 상반기, 프로그라피 4기 활동의 자랑스러운 결과물을 소개합니다.
                </div>
                <div class="program-table">
                    <div class="program-table-row">
                        <div class="program-table-time">
                            14:00 - 15:00
                        </div>
                        <div class="program-table-text">
                            <div class="program-table-text-title">
                                사전 교류 및 네트워킹
                            </div>
                            행사 시작 전, 자유로운 분위기 속에서 관심있는 팀이나 사람들과 네트워킹을 진행합니다.
                        </div>
                    </div>
                    <div class="program-table-row">
                        <div class="program-table-time">
                            15:00 - 15:30
                        </div>
                        <div class="program-table-text">
                            <div class="program-table-text-title">
                                프로그라피 단체 소개
                            </div>
                            프로그라피는 무엇을 위해 무엇을 하고 있는 단체인지, 그리고 앞으로 어떤 사람들과 함께하고 싶은지를 소개합니다.
                        </div>
                    </div>
                    <div class="program-table-row">
                        <div class="program-table-time">
                            15:30 - 16:30
                        </div>
                        <div class="program-table-text">
                            <div class="program-table-text-title">
                                팀별 서비스 발표
                            </div>
                            총 6개의 팀이 프로그라피 4기를 진행하며 개발한 서비스를 소개하고 시연합니다.
                        </div>
                    </div>
                    <div class="program-table-row">
                        <div class="program-table-time">
                            16:30 - 17:30
                        </div>
                        <div class="program-table-text">
                            <div class="program-table-text-title">
                                서비스 데모 및 부스 발표 & 투표
                            </div>
                            앞선 발표에서 소개된 서비스들의 부스에서 직접 서비스를 체험하고 개발자들과 이야기해볼 수 있습니다.
                        </div>
                    </div>
                    <div class="program-table-row">
                        <div class="program-table-time">
                            17:30 - 18:00
                        </div>
                        <div class="program-table-text">
                            <div class="program-table-text-title">
                                시상 및 마무리
                            </div>
                            투표 결과를 바탕으로 데모데이 시상을 진행합니다.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<section class="container" id="enrollForm">
    <h1 class="text-center" style="margin-top:140px; font-weight:400; color:#333; font-size:40px;">Prography 4th Demo
        Day</h1>
    <h5 class="text-center">프로그라피 4기 데모데이 참가 신청</h5>
    <div class="w3-border-bottom w3-border-lightgray half-p"></div>
    <div class="box" style="height:50px;"></div>
    <div class="row">
        <div class="col-sm-3" style="weight:auto; height:auto;"></div>
        <div class="login-form col-sm-6">
            <form method="post" class="form-horizontal">
                <label for="name">이름</label>
                <input type="text" class="login-input" id="name" name="name" placeholder="성함">

                <label for="phone">전화번호</label>
                <input type="text" class="login-input" id="phone" name="phone" placeholder="전화번호">

                <label for="org">소속</label>
                <input type="text" class="login-input" id="org" name="org" placeholder="소속">

                <input type="submit" value="신청" class="login-btn">
            </form>
        </div>
        <div class="col-sm-3" style="weight:auto; height:auto;"></div>
    </div>
    <div class="box" style="height:150px;"></div>

</section>
<% include common/footer %>
