<% include common/head_header %>
<link rel="stylesheet" href="css/demo-day.css">

<!--% include common/body_header %-->
<script>
  $(window).ready(function () {
    if (<%= post %>) alert('참가 신청 완료 되었습니다!');
  });
</script>
<section class="demoday-main-banner">
    <div class="demoday-banner-filter">
        <div class="demoday-banner-content">
            <img class="keyframe-appear" src="img/demo-day/mainbanner.svg">
            <div class="demoday-button-wrap">
                <button>About</button>
                <button>신청하기</button>

            </div>
        </div>
    </div>

</section>

<section class="container">
    <h1 class="text-center" style="margin-top:140px; font-weight:400; color:#333; font-size:40px;">Prography 4th Demo
        Day</h1>
    <h5 class="text-center">프로그라피 4기 데모데이 참가 신청</h5>
    <div class="w3-border-bottom w3-border-lightgray half-p"></div>
    <div class="box" style="height:50px;"></div>
    <div class="row">
        <div class="col-sm-3" style="weight:auto; height:auto;"></div>
        <div class="login-form col-sm-6">
            <form method="post" class="form-horizontal">
                <label for="name">이름</label>
                <input type="text" class="login-input" id="name" name="name" placeholder="성함">

                <label for="phone">전화번호</label>
                <input type="text" class="login-input" id="phone" name="phone" placeholder="전화번호">

                <label for="org">소속</label>
                <input type="text" class="login-input" id="org" name="org" placeholder="소속">

                <input type="submit" value="신청" class="login-btn">
            </form>
        </div>
        <div class="col-sm-3" style="weight:auto; height:auto;"></div>
    </div>
    <div class="box" style="height:150px;"></div>

</section>
<% include common/footer %>
