<% include common/header %>
	<title>히스토리</title>
	<meta property="og:title" content="히스토리" />
    <section>
      <div class="banner">
        <div class="bg-img">
        </div>
      </div>
      <div class="container">
        <div class="banner-contents">
          <p class="main-title">동아리 히스토리</p>
          <p class="sub-title">진정 빡코딩을 원하는자, 주저말고 지원하자!<br>라피가 그대를 기다리고 있다!</p>
        </div>
      </div>
    </section>

    <!--.........................................................................................-->
    <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
    <section class="unit">
      <div class="unit-nav container">
        <span class="unit-p-main">1기</span>
        <span class="unit-p-small">Web 1</span>
        <span class="unit-p-small">App 3</span>
        <span class="unit-p-small">Deep-Learning 4</span>
      </div>
      <div class="w3-border-top w3-border-lightgray line" style=" width: 40%; margin-bottom:20px;"></div>
    </section>
	
<% include common/footer %>