<% include common/head_header %>
<link rel="stylesheet" href="css/history.css">
<% include common/body_header %>
    <section>
        <div class="banner">
            <div class="hi-bg-img"></div>
        </div>
        <div class="container">
            <div class="banner-contents">
                <p class="main-title">PROGRAPHY
                    <br>HISTORY</p>
                <p class="sub-title">멘토 및 실무자 강연부터 직접 만든 프로그램까지...
                    <br>프로그라피는 계속됩니다.</p>
            </div>
        </div>
    </section>

    <!--.........................................................................................-->
    <!--
	<section class="unit">
		<div class="unit-nav container">
			<span class="unit-p-main">1기</span>
			<span class="unit-p-small">Web 1</span>
			<span class="unit-p-small">App 3</span>
			<span class="unit-p-small">Deep-Learning 4</span>
		</div>
		<div class="w3-border-top w3-border-lightgray line" style=" width: 40%; margin-bottom:20px;"></div>
    </section> -->

    <section style="margin-bottom:0px; background-color:#222;">
        <div class="hi-img-box">
            <img src="img/hi-c-1.JPG" alt="" class="bg-img1">
            <div class=" hi-text-box">
                <h2>2기<span class="hi-span" style="font-size:20px; ">2018.02 ~ 2018.07</span></h2>
                <h1>
					웹 - 1팀, 8명<br>
					앱 - 3팀, 12명<br>
					딥러닝 - 4팀, 17명<br>
					<strong>총 8개 프로젝트</strong>
				</h1>
                <p>김홍찬 멘토 - 소비자가 원하는 소프트웨어 개발하기
                    <br> 이민영 멘토 - 디자이너 없이 프론트 설계 하는 법
                    <br> 강재윤 멘토 - 딥러닝이란?
					<br> 그 외
                </p>
                <h1 style="margin-top:-8px;"><strong>3회 이상 멘토·실무자 강연</strong></h1>
            </div>
        </div>

        <div class="hi-img-box">
            <img src="img/hi-c-2.JPG" alt="" class="bg-img1">
            <div class="hi-text-box-r">
                <h2><span class="hi-span" style="font-size:20px; ">2017.08 ~ 2018.01</span>1기</h2>
                <h1>
					웹 - 1팀, 5명<br>
					앱 - 4팀, 18명<br>
					딥러닝 - 2팀, 6명<br>
					<strong>총 7개 프로젝트</strong>
				</h1>
                <p>
                    박수현 멘토 - 문과생의 딥러닝 이야기
                    <br> 강재윤 멘토 - Product Development Guide for Beginners
                    <br> 그 외
                </p>
                <h1 style="margin-top:-8px;"><strong>2회 이상 멘토강연 </strong></h1>
            </div>
        </div>
	</section>
<% include common/footer %>
