<% include common/head_header %><% include common/body_header %>
	<script>
		$( document ).ready(function() {
			var windowWidth = $( window ).width();
			if(windowWidth <= 700){
				$("#myVideo").html('<source src="video/m_Walking.mp4" type="video/mp4"></source>' );
				$("#myVideo")[0].load();
			}
			$('.cropping').css('height',$( window ).height());
		});
	</script>

    <section>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="cropping">
                    <video autoplay muted loop id="myVideo">
                        <source src="video/Walking.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="carousel-caption">
                    <p class="b-0">02.07 - 02.16</p>
                    <div class="b-p">연합 IT 프로젝트 동아리
                        <br><span>프로그라피에서 4기를 모집</span>합니다.</div>
                    <p class="b-pp">[ 4기 프로젝트 기간 : 2019년 3월 ~ 2019년 7월 ]</p>
                    <a href="/recruit" class="btn-white-top scroll">지원하기</a>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top:100px">
        <p class="main-title-b container">프로그라피 소개</p>
        <div class="w3-border-top w3-border-lightgray" style="width:40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">프로그라피는 연합 IT 프로젝트 동아리로
            <br>개발자와 디자이너들이 함께 IT 서비스를 기획-개발-배포 하는 활동을 진행합니다.</p>
        <div class="margin-top-20 container">
            <a href="/about" class="btn-pink-big scroll">자세한 소개</a>
        </div>
        <div style="width: 100%; height:400px; position:relative; ">
            <div class="container-fluid">
                <div style="position:absolute; top:0px; left:0; width:100%;">
                    <div class="in-bg-img"></div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top:100px">
        <p class="main-title-b container">프로그라피 활동 프로세스</p>
        <div class="w3-border-top w3-border-lightgray" style="width:40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">프로그라피는 연합 IT 프로젝트 동아리로
            <br>개발자와 디자이너들이 함께 IT 서비스를 기획-개발-배포 하는 활동을 진행합니다.</p>
        <div style="width: 100%; height:400px; position:relative; ">
            <div class="container-fluid">
                <div style="position:absolute; top:0px; left:0; width:100%;">
                    <div class="in-bg-img"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <p class="main-title-b main-title-b2 container">프로그라피 히스토리</p>
        <div class="w3-border-top w3-border-lightgray" style=" width: 40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">프로그라피는 2017년 8월에 활동을 시작하여
            <br>현재 총 3기까지 성공적으로 활동을 마쳤습니다.</p>
        <div>
            <div class="row ">
                <div class="col-sm-4 overlay-container">
                    <img src="img/in-c-2.jpg" alt="" class="eximg">
                    <div class="overlay-1">
                        <div class="overlay-text">
                            <p class="o-p">1기</p>
                            <p class="o-pp">2017.08 ~ 2018.01
                                <br>웹, 앱, 딥러닝 분야별 개발 프로젝트
								<br>프로그라피의 시작</p>
                            <a href="/product" class="btn-white-top-overlay scroll">1기 포트폴리오</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 overlay-container">
                    <img src="img/in-c-3.jpg" alt="" class="eximg">
                    <div class="overlay-1">
                        <div class="overlay-text">
                            <p class="o-p">2기</p>
                            <p class="o-pp">2018.02 ~ 2018.07
                                <br>웹, 앱, 딥러닝 분야별 개발 프로젝트
								<br>공통강연 및 멘토링 진행</p>
                            <a href="/product" class="btn-white-top-overlay scroll">2기 포트폴리오</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 overlay-container">
                    <img src="img/in-c-4.jpg" alt="" class="eximg">
                    <div class="overlay-1">
                        <div class="overlay-text">
                            <p class="o-p">3기</p>
                            <p class="o-pp">2018.09 ~ 2019.01
							<br>웹, 앱, 딥러닝, UI-UX 융합 프로젝트
							<br>분야별 멘토링 세션 및 공통강연 진행</p>
                            <a href="/product" class="btn-white-top-overlay scroll">3기 포트폴리오</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top:100px">
        <p class="main-title-b container">프로그라피 4기 활동일정</p>
        <div class="w3-border-top w3-border-lightgray" style=" width: 40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">
            프로그라피 4기 활동은 2019년 3월 2일부터 7월 27일까지 진행되며
            <br> 다양한 개발 및 디자인 활동은 물론, 다양한 사람들과의 친목활동까지 준비되어 있습니다.
        </p>
        <div class="margin-top-20 container">
            <a href="/schedule" class="btn-pink-big scroll">상세일정 확인하기</a>
        </div>

        <div style="width: 100%; height:400px; position:relative; ">
            <div class="container-fluid">
                <div style="position:absolute; top:0; left: 0; width: 100%;">
                    <div class="in-bg-img"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <p class="main-title-b main-title-b3 container">그렇게,</p>
        <div class="w3-border-top w3-border-lightgray" style=" width: 40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">현재까지 <strong style="font-size:20px;"> 180명 </strong>의 프로그라피들이 <strong style="font-size:20px;"> 32개 </strong>의 프로젝트를 진행했으며
            <br>4기에도 쉬지않고 진행됩니다!</p>
        <div style="width: 100%; height:600px; position:relative;">
            <div style="position:absolute; top:0px; width: 100%;">
                <div class="in-bg-img-l"></div>
            </div>
        </div>
    </section>

<% include common/footer %>
