<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/btn.css">
    <title>Home</title>
  </head>





  <body id="mypage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar" style="background-color:#d81d45;">
      <div class="container">
        <div class="navbar-header">
          <!-- 모바일 햄버거 메뉴 버튼 -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- 상단 로고 -->
          <a class="navbar-brand" href="/"><img src="img/logo-03.svg"
            alt="white-logo" class="logo-img"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">소개</a></li>
            <li><a href="/activity">공식활동</a></li>
            <li><a href="/product">포트폴리오</a></li>
            <li><a href="/history">히스토리</a></li>
            <li><a href="/recruit">지원하기</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Prografeed</a></li>
                <li><a href="/login">Admin</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- nav end -->

<!--.........................................................................................-->
    <section>
      <div class="banner">
        <div class="bg-img">
        </div>
        <!--<img src="img/bg1.jpg" class="bg-img">-->
      </div>
      <div class="container">
        <p class="index-main-title">연합 프로그래밍 동아리 <span class="index-p-md">프로그라피에서<br>3기를 모집</span>합니다</p>
        <p class="sub-title">[3기 스터디 기간 : 2018.00 ~ 2018.00]<br>[3기 프로젝트 기간 : 2018.00]</p>
       <a href="/recruit" class="btn-pink-top position-a">지원하기 GO!</a>
      </div>
    </section>

    <!--.........................................................................................-->
	<section class="container">
	  <p class="body-title">동아리 소개</p>
	  <p class="body-text"><span class="body-p-md">프로그라피</span>는 컴퓨터 프로그래밍에 관심이 있는 학생들로 이루어진 연합 동아리입니다.<br><span class="body-p-md">웹 프로그래밍, 모바일 앱 프로그래밍, 딥러닝</span>이라는 세 가지 주제로 연구 및 멘토링 프로젝트를 수행하고 있습니다.</p>
	  <div class="btn-align"><a href="/activity" class="btn-pink-body">공식활동 GO!</a></div>
	  <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
	  <div class="w3-border-bottom w3-border-lightgray half-p"></div>
	  <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
	</section>
	
    <!--.........................................................................................-->
	<section class="container">
	  <p class="body-title">프로젝트 팀</p>
	  <p class="body-text">각 파트에는 프로젝트를 진행하는 다수의 팀이 있으며, 해당 팀은 <span class="body-p-md">멘토와 멘티</span>로 구성되어 있습니다.</p>
	  <div class="basic-pj-box">
	    <div class="index-pj-box">
		  <p class="index-pj-title">웹 프로젝트</p>
		  <p class="index-pj-text">Frontend, Backend 각 분야의<br>다양한 멘토들로 구성된 웹 개발 파트</p>
		  <a href="/product" class="btn btn-default btn-pink">웹 포트폴리오</a>
		</div>
	    <div class="index-pj-box">
		  <p class="index-pj-title">앱 프로젝트</p>
		  <p class="index-pj-text">앱 개발 멘토와 UXUI 멘토로 구성된 앱 개발 파트</p>
		  <a href="/product" class="btn btn-default btn-pink">앱 포트폴리오</a>
		</div>
	    <div class="index-pj-box">
		  <p class="index-pj-title">딥러닝 프로젝트</p>
		  <p class="index-pj-text">많은 멘토들이 있어 동아리 내에서<br>가장 활발하게 진행되는 파트</p>
		  <a href="/product" class="btn btn-default btn-pink">딥러닝 포트폴리오</a> <!-- 포폴 페이지 제작 후 링크 바꿔야함 -->
		</div>
	  </div>
	  <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
	  <div class="w3-border-bottom w3-border-lightgray half-p"></div>
	  <div class="box" style="height:50px;"></div><!-- 중간에 띄어놓음 -->
	</section>
	
    <!--.........................................................................................-->
	<section class="container">
	  <p class="body-title">그렇게,</p>
	  <p class="body-text"><span class="body-p-md">00명의 프로그라피들</span>이 <span class="body-p-md">00개의 프로젝트</span>를 진행하여 <span class="body-p-md">3기</span>가 되었습니다.</p>
	  <div class="btn-align"><a href="/history" class="btn-pink-body">히스토리 구경하기</a></div>
	  <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
	</section>
	
    <!-- footer -->
    <footer class="text-center">
      <a class="up-arrow arrow-margin top" href="#" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up glyphicon-pink"></span></a><br><br>
      <img src="img/logo-03.svg" alt="Prography-logo" class="footer-logo-img">
      <h6 style="margin-bottom:20px">프로그라피 / Prography</h6>

      <div class="basic-button">
        <a href="/login" class="btn btn-default btn-pink">Admin Page</a>
        <a href="#" class="btn btn-default btn-pink">Prograpfeed</a>
      </div>

      <p class="p-p"><small>E:prography@gmail.com</small></p>
      <p class="p-p"><small>F:facebook.com/prography</small></p>
      <p class="p-p"><small>I:instagram.com/prography</small></p>
      <br>
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
    </footer>
    <!-- footer end -->
    <!--.........................................................................................-->
    <!--.........................................................................................-->
    <!--.........................................................................................-->
    <script type="text/javascript" src="js/master.js"></script>
    <!-- <script type="text/javascript" src="js/main.js"></script>-->

  </body>
</html>


























<!-- -->
