<% include common/head_header %><% include common/body_header %>
    <!--동영상 배너-->
	<script>
		$( document ).ready(function() {
			var windowWidth = $( window ).width();
			if(windowWidth <= 700){
				$("#myVideo").html('<source src="video/m_Walking.mp4" type="video/mp4"></source>' );
				$("#myVideo")[0].load();
			}
			$('.cropping').css('height',$( window ).height());
		});
	</script>
    <section>
        <div class="carousel-inner" role="listbox">
            <!---->
            <div class="item active">
                <div class="cropping">
                    <video autoplay muted loop id="myVideo">
                        <source src="video/Walking.mp4" type="video/mp4">
                    </video>

                </div>
                <div class="carousel-caption">
                    <p class="b-0">08.13 - 08.19</p>
                    <div class="b-p">연합 프로그래밍 동아리
                        <br><span>프로그라피에서 3기를 모집</span>합니다.</div>
                    <p class="b-pp">[ 3기 프로젝트 기간 : 9월 ~ 2019년 1월 ]</p>
                    <a href="/recruit" class="btn-white-top scroll">서류전형 결과확인</a>
                </div>
            </div>

            <!-- 모집 때 말고 사용할 배너
			<div class="item">
				<div class="cropping" >
				<video autoplay muted loop id="myVideo" style="width: 100%;">
					<source src="vedio/River.mp4" type="video/mp4">
				</video>
				</div>
				<div class="carousel-caption margin-bottom-200">
					<h3>블라블라</h3>
					<p>The atmosphere in Chania has a touch of Florence and Venice.</p>
				</div>
			</div>-->
    </section>

    <!--프로그라피 소개-->
    <section style="margin-top:200px">
        <p class="main-title-b container">프로그라피 소개</p>
        <div class="w3-border-top w3-border-lightgray" style=" width: 40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">프로그라피는 연합 프로그라핑 동아리로
            <br>웹, 앱, 딥러닝으로 구성되고, 기수마다 다양한 주제의 프로젝트 활동을 하고 있습니다. </p>
        <div class="margin-top-20 container">
            <a href="/activity" class="btn-pink-big scroll">공식활동</a>
        </div>

        <div style="width: 100%; height:400px; position:relative; ">
            <div class="container-fluid">
                <div style="position:absolute; top:0px; left: 10%; width: 90%;">
                    <div class="in-bg-img"></div>
                </div>
            </div>
        </div>
    </section>

    <!--프로젝트 팀-->
    <section>
        <p class="main-title-b main-title-b2 container">프로젝트 팀</p>
        <div class="w3-border-top w3-border-lightgray" style=" width: 40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">각 분야에는 프로젝트를 진행하는 다수의 팀이 있으며
            <br>해당 팀은 멘토와 멘티로 구성되어 있습니다.</p>
        <div>
            <div class="row ">
                <div class="col-sm-4 overlay-container">
                    <img src="img/in-c-2.jpg" alt="" class="eximg">
                    <div class="overlay-1">
                        <div class="overlay-text">
                            <p class="o-p">웹 프로젝트</p>
                            <p class="o-pp">프론트, 백엔드, 서비스
                                <br>각 분야 멘토들과 함께하는
								<br>웹 서비스 개발 프로젝트</p>
                            <a href="/product" class="btn-white-top-overlay scroll">웹 포트폴리오</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 overlay-container">
                    <img src="img/in-c-3.jpg" alt="" class="eximg">
                    <div class="overlay-1">
                        <div class="overlay-text">
                            <p class="o-p">앱 프로젝트</p>
                            <p class="o-pp">스토어 등록 앱, UX·UI
                                <br>각 분야 멘토들과 함께하는<br>
								앱 서비스 개발 프로젝트</p>
                            <a href="/product" class="btn-white-top-overlay scroll">앱 포트폴리오</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 overlay-container">
                    <img src="img/in-c-4.jpg" alt="" class="eximg">
                    <div class="overlay-1">
                        <div class="overlay-text">
                            <p class="o-p">딥러닝 프로젝트</p>
                            <p class="o-pp">Vision, Speech 등
							<br>다양한 주제로 연구해보는
							<br>활발한 딥러닝 프로젝트</p>
                            <a href="/product" class="btn-white-top-overlay scroll">딥 포트폴리오</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--그렇게-->
    <section>
        <p class="main-title-b main-title-b3 container">그렇게,</p>
        <div class="w3-border-top w3-border-lightgray" style=" width: 40%; margin-bottom:20px;"></div>
        <p class="sub-title-b container">현재까지 <strong style="font-size:20px;"> 120명 </strong>의 프로그라피들이 <strong style="font-size:20px;"> 20개 </strong>의 프로젝트를 진행했으며
            <br> 쉬지 않고 계속해서 프로젝트는 진행됩니다!</p>
        <div class="margin-top-20 container">
            <a href="/history" class="btn-pink-big scroll">히스토리</a>
        </div>

        <div style="width: 100%; height:600px; position:relative;">
            <div style="position:absolute; top:0px; width: 100%;">
                <div class="in-bg-img-l"></div>
            </div>
        </div>

        <!--왼쪽으로 치우친
		<div style="width: 100%; height:600px; position:relative; margin-left:-20px;">
			<div class="container-fluid">
				<div style="position:absolute; top:0px;">
					<div class="bg-img4"></div>
				</div>
			</div>
		</div>-->
    </section>

<% include common/footer %>
