<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>이승준님 합격입니다!</h2>
  <p>아래에서 면접시간을 골라주세요!!!!</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>요일</th>
        <th>시간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>월요일</td>
        <td>
      	 	<div class="radio">
      			<label><input type="radio" name="optradio">15:00</label>
      			<label><input type="radio" name="optradio">15:20</label>
      			<label><input type="radio" name="optradio">15:40</label>
    		</div>
     		<div class="radio">
      			<label><input type="radio" name="optradio">16:00</label>
      			<label><input type="radio" name="optradio">16:20</label>
      			<label><input type="radio" name="optradio">16:40</label>
  	  		</div>
     		<div class="radio">
     			<label><input type="radio" name="optradio">17:00</label>
      			<label><input type="radio" name="optradio">17:20</label>
      			<label><input type="radio" name="optradio">17:40</label>
   	 		</div>
   	 	</td>
      </tr>
      <tr>
        <td>화요일</td>
        <td>
      	 	<div class="radio">
      			<label><input type="radio" name="optradio">15:00</label>
      			<label><input type="radio" name="optradio">15:20</label>
      			<label><input type="radio" name="optradio">15:40</label>
    		</div>
     		<div class="radio">
      			<label><input type="radio" name="optradio">16:00</label>
      			<label><input type="radio" name="optradio">16:20</label>
      			<label><input type="radio" name="optradio">16:40</label>
  	  		</div>
     		<div class="radio">
     			<label><input type="radio" name="optradio">17:00</label>
      			<label><input type="radio" name="optradio">17:20</label>
      			<label><input type="radio" name="optradio">17:40</label>
   	 		</div>
   	 	</td>
      </tr>
      <tr>
        <td>수요일</td>
        <td>
      	 	<div class="radio">
      			<label><input type="radio" name="optradio">15:00</label>
      			<label><input type="radio" name="optradio">15:20</label>
      			<label><input type="radio" name="optradio">15:40</label>
    		</div>
     		<div class="radio">
      			<label width=200 ><input type="radio" name="optradio" width=200>16:00</label>
      			<label><input type="radio" name="optradio">16:20</label>
      			<label><input type="radio" name="optradio">16:40</label>
  	  		</div>
     		<div class="radio">
     			<label><input type="radio" name="optradio">17:00</label>
      			<label><input type="radio" name="optradio">17:20</label>
      			<label><input type="radio" name="optradio">17:40</label>
   	 		</div>
   	 	</td>
      </tr>
    </tbody>
  </table>
  
  <input type = "submit" value="제출">
  
</div>

</body>
</html>
