<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/btn.css">
    <title>result1</title>
  </head>


    <section id="banner">
      <div class="banner2">
        <div class="bg-img2"></div>
      </div>
      <div class="container">
        <div class="banner-contents2">
          <a class="logo-middle div-center" href="/"><img src="img/logo-03.svg" alt="white-logo"></a>
          <p class="p-submain text-center">[ 프로그라피 3기 ]<br><span>1차 서류전형 결과 확인</span></p>
        </div>
      </div>
    </section>
    <div class="box" style="height:150px;"></div><!-- 중간에 띄어놓음 -->





    <!--<section id="result-before-1" class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <form action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control input-lg btn-white-nohover" placeholder="지원자의 메일을 적어주세요" name="send">
              <div class="input-group-btn">
                <button class="btn btn-default input-lg btn-orange-small" type="submit">Confirm</button></div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-1"></div>

      <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:14px;">
        * 본인 확인을 위해 메일을 적어주세요</span>
    </section>-->

    <section id="result-after-pass-1" class="container">
      <div class="recruit-box">
        <img src="img/emotion_smile.svg" class="tab-img-circle" >
        <p class="text-center recruit-box-text">지원자님 프로그라피 3기 모집<br>
          1차 서류전형 <span class="highlight">합격을 축하드립니다.</span></p>
      </div>

      <div class="recruit-box" style="margin-top:20px; height:500px;">

        <p class="text-center explain">
          추후 진행되는 면접 일정을 위한 선택지 입니다.
          <br>
          가능한 일정은 <span class="highlight-black">선착순으로</span> 선택 가능하시며,
          <span class="highlight-black">한 시간당 제한된 인원이 선택 가능합니다.
            <br>추후 최종적으로 정해진 일정을 면접 전 [프로그라피] 플러스친구을 통해 공지해드립니다.</span>
          <br>
        </p>

        <div class="w3-panel w3-border-top w3-border-lightgray"
          style="width:90%; height:auto; margin-right:auto; margin-left:auto;">
        </div>

        <table class="table table-striped text-center" style="width:90%; margin-right:auto; margin-left:auto;">
          <tbody>
            <tr class="thead">
              <td class="td-1">시간</td>
              <td class="td-2">7일 (토)</td>
              <td class="td-2">8일 (일)</td>
            </tr>
            <tr class="tbody">
              <td class="td-1">오전 11~12</td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
            </tr>
            <tr class="tbody">
              <td class="td-1">오후 1~2</td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
            </tr>
            <tr class="tbody">
              <td class="td-1">오후 2~3</td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
            </tr>
            <tr class="tbody">
              <td class="td-1">오후 3~4</td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
            </tr>
            <tr class="tbody">
              <td class="td-1">오후 4~5</td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
            </tr>
            <tr class="tbody">
              <td class="td-1">오후 5~6</td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
              <td class="td-2"><label class="label-circle"><input type="checkbox" name="radio">
                <span class="checkmark"></span></label></td>
            </tr>
          </tbody>
        </table>

        <input type="submit" value="면접일정 제출하기" class="submit-btn">
      </div>
    </section>

    <!--<section id="result-after-fail-1" class="container">
      <div class="recruit-box">
        <img src="img/emotion-sad.svg" class="tab-img-circle" >
        <p class="text-center recruit-box-text">지원자님께서는 프로그라피 3기<br>
          1차 서류전형 <span class="highlight">불합격 입니다.</span></p>
        <p class="text-center explain">
          안녕하십니까 지원자님, 소중한 시간을 할애하여 지원해주시고,
          동아리를 관심있게 봐주심에 우선 감사의 말씀을 전합니다.<br><br>

          동아리 서류 전형에 있어 합격 불합격 기준에 있어, 프로그라피 나름의 선정 기준에 대해 전해드리고자 합니다</p>
          <ul class="explain">
            <li  class="highlight">개인적인 공부에 있어 시간이 있는가</li>
            <li  class="highlight">공부를 위한 목적인가, 발전을 위한 목적인가</li>
            <li  class="highlight">동아리 활동에 적극적일수 있을까</li>
          </ul>
        <p class="text-center explain">
          이러한 기준을 가지고 동아리에 적합한 인물을 선발하였으며, 지원자님께서 부족해서 불합격을 드리는 점이 아니라,
          동아리가 많은 사람들을 모두 담지 못해서이오니 좀더 발전하여 공부하고자 하는 모든 사람을 담을 수 있는 동아리가 되겠습니다.
        <br>다시한번 감사드리고 유감의 말씀 전합니다. </p>
      </div>
    </section>-->



    <div class="box" style="height:100px;"></div><!-- 중간에 띄어놓음 -->
    <!-- footer -->
    <section class="text-center">
      <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
      <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
      <br>
      <div class="box" style="height:20px;"></div><!-- 중간에 띄어놓음 -->
    </section>
    <!-- footer end -->
    <script type="text/javascript" src="js/master.js"></script>

  </body>
</html>


























<!-- -->
