<% include common/head_header %> <% include common/body_header %>
<section>
    <div class="banner">
        <div class="sd-bg-img"></div>
    </div>
    <div class="container">
        <div class="banner-contents">
            <p class="main-title sd-main-title">PROGRAPHY
                <br>6기 활동 계획 안내</p>
            <p class="sub-title">프로그라피의 6기 활동 계획을
                <br>자세하게 안내드립니다</p>
        </div>
    </div>
</section>

<!-- 선발일정 -->

<section class="sd-section">
    <p class="main-title-b container">선발 일정</p>
    <div class="w3-border-top w3-border-lightgray" style="width:40%; margin-bottom:20px;"></div>

    <div class="sd-schedule-graph-wrap container">
        <div class="sd-schedule-graph-content">
            <div class="sd-schedule-graph-element">
                <div class="sd-schedule-circle"></div>
                <div class="sd-schedule-text">
                    <div class="sd-schedule-label">선발공고</div>
                    <div class="sd-schedule-date">2/17</div>
                </div>
            </div>
            <div class="sd-schedule-graph-line"></div>
            <div class="sd-schedule-graph-element">
                <div class="sd-schedule-circle"></div>
                <div class="sd-schedule-text">
                    <div class="sd-schedule-label">서류전형 지원</div>
                    <div class="sd-schedule-date">2/17 ~ 2/29</div>
                </div>
            </div>
            <div class="sd-schedule-graph-line"></div>
            <div class="sd-schedule-graph-element">
                <div class="sd-schedule-circle"></div>
                <div class="sd-schedule-text">
                    <div class="sd-schedule-label">1차 합격 발표</div>
                    <div class="sd-schedule-date">2/29</div>
                </div>
            </div>
            <div class="sd-schedule-graph-line"></div>
            <div class="sd-schedule-graph-element">
                <div class="sd-schedule-circle"></div>
                <div class="sd-schedule-text">
                    <div class="sd-schedule-label">사전과제 진행</div>
                    <div class="sd-schedule-date">3/1 ~ 3/5</div>
                </div>
            </div>
            <div class="sd-schedule-graph-line"></div>
            <div class="sd-schedule-graph-element">
                <div class="sd-schedule-circle"></div>
                <div class="sd-schedule-text">
                    <div class="sd-schedule-label">인터뷰</div>
                    <div class="sd-schedule-date">3/7 ~ 3/8</div>
                </div>
            </div>
            <div class="sd-schedule-graph-line"></div>
            <div class="sd-schedule-graph-element">
                <div class="sd-schedule-circle"></div>
                <div class="sd-schedule-text">
                    <div class="sd-schedule-label">최종 결과 발표</div>
                    <div class="sd-schedule-date">3/8</div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- 세부일정 -->
<section class="sd-section sd-table-section">
    <p class="main-title-b container">세부 일정</p>
    <div class="w3-border-top w3-border-lightgray" style="width:40%; margin-bottom:20px;"></div>
    <p class="sub-title-b container">
        - <b>정기세션</b>: 토요일 오후 3시 - 오후 6시 사이에 다양한 프로그램이 정기적으로 진행됩니다.<br/>
    </p>
    <div class="container">
        <div class="sd-detail-table-element selected">
            <div class="sd-detail-table-month-summary">
                <div class="sd-detail-table-month-label">
                    3월
                </div>
                <div class="sd-detail-table-month-text">
                    OT 및 팀빌딩, 프로그라피 MT
                </div>
            </div>
            <div class="sd-detail-table-month-all-wrap">
                <div class="sd-detail-table-month-all">
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">OT</div>
                        <div class="sd-detail-table-month-all-date">2020.03.14</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">프로그라피 MT
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.03.21-22</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.03.28</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sd-detail-table-element">
            <div class="sd-detail-table-month-summary">
                <div class="sd-detail-table-month-label">
                    4월
                </div>
                <div class="sd-detail-table-month-text">
                    정기세션 3회
                </div>
            </div>
            <div class="sd-detail-table-month-all-wrap">
                <div class="sd-detail-table-month-all">
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.04.04</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.04.11</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.04.25</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sd-detail-table-element">
            <div class="sd-detail-table-month-summary">
                <div class="sd-detail-table-month-label">
                    5월
                </div>
                <div class="sd-detail-table-month-text">
                    정기세션 2회, 프로그라피 데이
                </div>
            </div>
            <div class="sd-detail-table-month-all-wrap">
                <div class="sd-detail-table-month-all">
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.05.09</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.05.23</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">프로그라피 데이
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">(미정) 2020.05.30</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sd-detail-table-element">
            <div class="sd-detail-table-month-summary">
                <div class="sd-detail-table-month-label">
                    6월
                </div>
                <div class="sd-detail-table-month-text">
                    정기세션 2회
                </div>
            </div>
            <div class="sd-detail-table-month-all-wrap">
                <div class="sd-detail-table-month-all">
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.06.06</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.06.20</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sd-detail-table-element">
            <div class="sd-detail-table-month-summary">
                <div class="sd-detail-table-month-label">
                    7월
                </div>
                <div class="sd-detail-table-month-text">
                    정기세션 2회, 해커톤, 데모데이
                </div>
            </div>
            <div class="sd-detail-table-month-all-wrap">
                <div class="sd-detail-table-month-all">
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.07.04</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">정기세션
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.07.11</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">해커톤
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">(미정) 2020.07.18</div>
                    </div>
                    <div class="sd-detail-table-month-all-element">
                        <div class="sd-detail-table-month-all-title">데모데이
                            <!--<span>: 주제 선정과 시장성 조사</span>-->
                        </div>
                        <div class="sd-detail-table-month-all-date">2020.07.25</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
  $('.sd-detail-table-month-summary').click(function () {
    $(this).parent().toggleClass('selected')
  });
</script>
<% include common/footer %>
