.home-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #ff9f17;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.explain_r {
  font-size: 14px;
  color: #444;
  margin: 30px 30px 5px;
  line-height: 23px;
}

#home {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  color: #fba152;
}
