


/*
  [application css index]
    1.line
    2.font



*/

input::placeholder {
  color: #999;
  font-size: 14px;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  padding: 10px;
}

/* ..................1.line.....................*/
.application-division{
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  margin-top:50px;
}

/* ..................1.line.....................*/
.application-bottom-division{
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;

}


/* ..................2.font.....................*/
.application-label{
  color: #333;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  size:14px;
  font-weight: 400;
}


.fixed-button{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .fixed-button {
      position: fixed;
      right: 20px;
      bottom: 20px;
    }
}




















/**/
