html, body{
  scroll-behavior: smooth;
}
.demoday-main-banner{
  background-image: url("../img/demo-day/20190420_144841.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.demoday-banner-filter{
  -webkit-animation: filterAppear 2.4s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: filterAppear 2.4s 1 forwards; /* Firefox < 16 */
  -ms-animation: filterAppear 2.4s 1 forwards; /* Internet Explorer */
  -o-animation: filterAppear 2.4s 1 forwards; /* Opera < 12.1 */
  animation: filterAppear 2.4s 1 forwards;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.demoday-banner-content{
  flex: 1;
  margin: 0 25%;
}


.keyframe-appear {
  -webkit-animation: firstlineAppear 2.4s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: firstlineAppear 2.4s 1 forwards; /* Firefox < 16 */
  -ms-animation: firstlineAppear 2.4s 1 forwards; /* Internet Explorer */
  -o-animation: firstlineAppear 2.4s 1 forwards; /* Opera < 12.1 */
  animation: firstlineAppear 2.4s 1 forwards;
}


/* First Line Appear */
@keyframes firstlineAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(40px);
  }
  66% {
    opacity: 0.7;
  }
  80%{
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes firstlineAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(40px);
  }
  66% {
    opacity: 0.7;
  }
  80%{
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes firstlineAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(40px);
  }
  66% {
    opacity: 0.7;
  }
  80%{
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes firstlineAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(40px);
  }
  66% {
    opacity: 0.7;
  }
  80%{
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes firstlineAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(40px);
  }
  66% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* First Line Appear */
@keyframes filterAppear {
  0% {
    background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0.7);
  }
}

/* Firefox < 16 */
@-moz-keyframes filterAppear {
  0% {
    background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0.7);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes filterAppear {
  0% {
    background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0.7);
  }
}

/* Internet Explorer */
@-ms-keyframes filterAppear {
  0% {
    background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0.7);
  }
}

/* Opera < 12.1 */
@-o-keyframes filterAppear {
  0% {
    background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0.7);
  }
}





/* First Line Appear */
@keyframes buttonAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes buttonAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes buttonAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Internet Explorer */
@-ms-keyframes buttonAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Opera < 12.1 */
@-o-keyframes buttonAppear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(40px);
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.demoday-button-wrap{
  -webkit-animation: buttonAppear 2.4s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: buttonAppear 2.4s 1 forwards; /* Firefox < 16 */
  -ms-animation: buttonAppear 2.4s 1 forwards; /* Internet Explorer */
  -o-animation: buttonAppear 2.4s 1 forwards; /* Opera < 12.1 */
  animation: buttonAppear 2.4s 1 forwards;
}

.demoday-button-wrap{
  padding: 20px;
  text-align: center;
}


.demoday-button-wrap>a:hover {
  background-color: rgba(227, 58, 94, 1);
  color: #ffffff;

}
.demoday-button-wrap>a {
  border: 2px solid #e33a5e;
  transition: .25s ease-in-out;
  background-color: rgba(227, 58, 94, 0.05);
  color: #e33a5e;
  font-weight: 700;
  padding: 8px 16px;
  width: 120px;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .demoday-button-wrap>a {
    width: 100px;
    font-size: 14px;
  }

}



/************************** ABOUT *****************************/
.about{
  display: flex;
  /*height: 100vh;*/
  align-content: center;
  align-items: center;
}

.about-content{
  /*padding: 15px;*/
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  /*border-bottom: 1px solid #e9e9e9;*/
}

.about-title{
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  margin: 16px 0;
}



.about-info-card-wrap{
  display: flex;
}

.about-info-card{
  flex: 1;
  margin: 40px 20px;
  padding: 20px;
}
.about-info-card:nth-child(1){
  border: 3px solid #e5355e;
  background-color: rgba(229, 53, 94, 0.001);
}
.about-info-card:nth-child(2){
  border: 3px solid #e55561;
  background-color: rgba(229, 85, 97, 0.001);
}
.about-info-card:nth-child(3){
  border: 3px solid #e58765;
  background-color: rgba(229, 135, 101, 0.001);
}
.about-info-card:nth-child(1) > .about-info-card-divider{
  background-color: #e5355e;
}
.about-info-card:nth-child(2) > .about-info-card-divider{
  background-color: #e55561;
}
.about-info-card:nth-child(3) > .about-info-card-divider{
  background-color: #e58765;
}
.about-info-card-title{
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
}
.about-info-card-divider{
  width: 20px;
  height: 3px;
  margin: 12px auto 12px 0;
}
.about-info-card-text{
  font-size: 15px;
  color: #2d2d2d;
}
.about-info-card-text>a{
  cursor: pointer;
  font-size: 14px;
  color: #606060;
  text-decoration: underline;
}


@media screen and (min-width: 768px) {
  .about-content{
    width: 80%;
    min-width: 768px;
    padding: 80px 0;
  }
  .about-info-card-wrap{
    margin: 0 -20px;
  }
}


@media screen and (max-width: 768px){

  .demoday-banner-content{
    margin: 0 20px;
  }


  .about-info-card-wrap{
    margin: 30px 0;
    flex-direction: column;
  }

  .about-info-card{
    margin: 10px 0;
  }
}

.about-bg{
  background-color: #f8f6f6;
}

.about-table{
  margin-top: 20px;
  padding: 0 10px;
  border-top: 2px solid #e37492;
  border-bottom: 2px solid #e37492;
}



.program-title{
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 16px;
}
.program-content{
  margin: 0 auto;
}


.about-table-row{
  padding: 20px 10px;
  border-bottom: 1px solid #808080;
  display: flex;
}

.about-table-row:last-child{
  border: none;
}

.about-table-time{
  flex: none;
  width: 120px;
  color: #2d2d2d;
  display: flex;
  align-content: center;
  align-items: center; ;

}
.about-table-text-title{
  font-weight: 600;
  color: #2d2d2d
}


.program-bg{
  background-image: url("../img/demo-day/program-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .demoday-main-banner {
    background-position: center right -280px;
  }
}

.program-bg-filter{
  background-color: rgba(10,0,0,.8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px 0;
}


.program-table{
  margin-top: 20px;
  padding: 0 10px;
  border-top: 2px solid #e37492;
  border-bottom: 2px solid #e37492;
}

.program-title{
  font-size: 24px;
  color:#ffffff;
  font-weight: 600;
}


.program-table-row{
  padding: 20px 10px;
  border-bottom: 1px solid #fefefe;
  display: flex;
}

.program-table-row:last-child{
  border: none;
}

.program-table-time{
  flex: none;
  width: 120px;
  color: #eeeeee;
  display: flex;
  align-content: center;
  align-items: center; ;
}

@media screen and (max-width: 768px) {
  .program-table-time{
    width: 60px;
  }

}

.program-table-text{
  color: #cccccc;
}

.program-table-text-title{
  font-weight: 600;
  color: #eeeeee;
}

.program-text{
  color: #dddddd;
  font-size: 18px;
}

#enrollForm>h1{
  margin-top:140px; font-weight:400; color:#333; font-size:40px;
}
@media screen and (max-width:768px) {
  #enrollForm>h1{
    margin-top:70px;
  }
}

