@import url('https://fonts.googleapis.com/css?family=Exo+2|Nanum+Gothic:400,700,800|Nanum+Myeongjo&subset=korean');

/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Exo 2', sans-serif;

font-family: 'NanumSquare', sans-serif;
font-weight: 300;
font-weight: 400;
font-weight: 700;
font-weight: 800;

*/
