/*
  [master css index]
    0.color
    1.basic
      1-1.font
      1-2.line
    2.nav-top
      2-1.nav-blue
    3.logo
    4.footer & p tag
    5.glyphicon
    6.span tag / label / placeholder
    7.poster & img
    8.tab
    9.banner
    10.table
    11.container percent
    12.margin
    13.application css
*/


/*
-------- 0.color --------
0. [gray] -기본 컬러

  제일 연한 배경 색 : #f2f2f2;
  블랙 대용 (배경) : #222;
  블랙 대용 (글꼴) : #333;


1. [pink] -동아리 기본 페이지
  활기차고 에너지넘치는 분위기

  기본핑크 : #d81d45;
  진한 핑크 : #c01c3e;


2. [blue] -운영진 페이지
  안정적이고 미래 지향적, 성실함, 평화의 의미를 내포하는 컬러

  기본 블루 : #0a88a7;
  연한 블루 : #30aecd;


3. [orange] -지원자 페이지
  활동성과 호기심을 상징하고 영감과 유쾌한 자극을 줄 수 있는 외향적인 색으로 즐거움을 내포하는 컬러

  기본 오렌지 : #ff7e28;
  연한 오렌지 : #ff9f17;

*/




/*-------- 1.basic --------*/
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
}

body{
  font-size: 15px;
  color: #777;
  background-color: #f2f2f2;
}

h5{
  line-height: 1.2em;
}


.text-white{
  color: #fff;
}

textarea{
  resize: none;
}

.box-gray{
  margin-top:40px;
  margin-bottom:40px;
  padding :20px;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #c4c4c4;
}

.box-footer-pattern{
  background:
    linear-gradient(63deg, #282828 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #282828 78%),
    linear-gradient(63deg, transparent 34%, #282828 38%, #282828 58%, transparent 62%),#222;
  background-size: 16px 48px;
  color: white;
  padding: 40px;
  height: 400px;
}

.position-a{
  position: absolute;
}

.display-in{
  display: inline;
}

@media only screen and (max-width: 600px) {
    .display-in {
      display: block;
    }
}

/*-------- 1-1.font --------*/

.main-font-size{
  margin-top:140px;
  font-weight:400;
  color:#333;
  font-size:50px;
}

@media only screen and (max-width: 600px) {
    .main-font-size {
      font-size: 45px;
    }
}


/*-------- 1-2.line --------*/

.perpect-p{
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.half-p{
  width: 50%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 600px) {
    .half-p {
      width: 100%;
    }
}


.application-division{
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  margin-top:50px;
}

.application-bottom-division{
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;

}


/*-------- 2.nav-top --------*/
#navbar{
  transition: top 0.3s;
}


.navbar{
  background-color: #fff;
  border: 0;
  color: #fff;
  opacity: 0.9;
  font-size: 0.9em;
  transition: top 0.3s;
}

.open .dropdown-toggle{
  color: #fff;
  background-color: #d81d45 !important;
}


.dropdown-menu li a {
  color: lightgray !important;
}

.dropdown-menu li a:hover {
  background-color: #d81d45 !important;
  color: #fff!important;
}

.navbar-inverse .navbar-nav>li>a{
  color: #fff;
  transition: 0.2s ease;
}

.navbar-inverse:hover .navbar-nav>li>a:hover{
  opacity: 0.6;
}

.navbar .navbar-toggle{
  border-color: #d81d45 !important;
}

.navbar:hover .navbar-toggle:hover{
  background-color: #d81d45;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #d81d45 !important;
}



/*-------- 3.logo --------*/
.logo-img{
  width: 17%;
  transition: 0.2s ease;
}

.logo-img:hover{
  opacity: 0.6;
}

.footer-logo-img{
  width: 32px;
  padding-bottom: 15px;
}

.logo-middle{
  width: 50px;
  margin-top: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease;
}


.logo-middle:hover{
  /*filter: drop-shadow( 0px 1px 5px #fff );*/
  opacity: 0.6;
}

.logo-middle-noclick{
  width: 50px;
  opacity: 0.8;
  user-select: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*-------- 4.footer & p tag --------*/

footer{
  background:
    linear-gradient(63deg, #282828 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #282828 78%),
    linear-gradient(63deg, transparent 34%, #282828 38%, #282828 58%, transparent 62%),#222;
  background-size: 16px 48px;
  color: white;
  padding: 40px;
}


.p-p{
  display: inline;
  padding: 2px 23px 0px 23px;
  font-weight: 400;
  opacity: 0.6;
  letter-spacing: 0.08em;
}

.p-pp{
  display: inline;
  padding: 0px 10px 0px 30px;
  margin-bottom: 30px;
  font-weight: 400;
  opacity: 0.5;
  letter-spacing: 0.1em;
  font-size:  12px !important;
}


.p-inline{
  display: inline;
}

.p-md{
  font-size: 18px;

}

@media only screen and (max-width: 600px) {
    .p-md {
      font-size:15px;
      margin-top: 10px;
    }
}

.p-submain{
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .p-submain {
      font-size: 16px;
      font-weight: 400;
    }
}

.recruit-box{
  width: 90%;
  height: auto;
  background-color: #f2f2f2;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

}

.recruit-box-text{
  padding-top: 20px;
  padding-bottom: 12px;
  font-size: 20px;
  color: #333;
}

@media only screen and (max-width: 600px) {
    .recruit-box-text {
      font-size: 16px;
    }
}

.highlight{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 700;
  color: #FF7E28;
}

.highlight-black{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 700;
  color: #444;
}

.explain{
  font-size: 14px;
  color: #444;
  margin: 30px;
  line-height: 23px;
}

@media only screen and (max-width: 600px) {
    .explain {
      font-size: 11px;
      margin: 12px;
    }
}

.l-explain{
  font-size: 30px;
  color: #444;
  margin: 30px;
  line-height: 23px;
}

@media only screen and (max-width: 600px) {
    .l-explain {
      font-size: 17px;
      margin: 12px;
    }
}

.p-otmt{
  font-size: 14px !important;
}

/*-------- 5.glyphicon --------*/

.glyphicon-pink{
  color: white;
}

.glyphicon-pink:hover{
  color: #d81d45;
}

/*-------- 6.span tag / label / placeholder--------*/

.application-label{
  color: #333;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  size:14px;
  font-weight: 400;

}

input::placeholder {
  color: #999;
  font-size: 14px;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  padding: 10px;
}



/*-------- 7.poster & img--------*/
.poster{
  width: 90%;
  height: auto;
  box-shadow: 3px 5px 20px lightgray;
  display: block;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .poster {
        width: 100%;
    }
}

.tab-img{
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab-img-circle{
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


/*-------- 8.tab --------*/

.tab-33{
  width: 33.3333333%;
  font-weight: 400;
  color:#222;
  font-size: 18px;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}


@media only screen and (max-width: 600px) {
    .tab-33 {
        font-size:12px;
    }
}

.tab-box-pad{
  padding: 20px;
  height: auto;
  background-color: #fff;
}


.nav-tabs>li>a{
  border-radius: 5px 5px 0px 0px !important;
}

.nav-tabs>li>a:hover{
  color: #fff;
}


.tab-content{
  border-radius: 0px 0px 5px 5px;
}




/*-------- 9.banner --------*/
.banner{
  position: relative;
  width: 100%;
  height: 555px;
  z-index: -1;
}

.banner2{
  width: 100%;
  height: 200px;
  z-index: -1;
}

.banner-contents{
  position: absolute;
  z-index: 100;
  top: 300px;
}

.banner-contents2{
  margin-top: -200px;
}



.bg-img{
  background-image: url('../img/bg1.jpg');
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  z-index: -2;
  user-select: none;
}

@media only screen and (max-width: 600px) {
    .bg-img {
      background-image: url('../img/bg1-1.jpg');
    }
}

.bg-img2{
  background-image: url('../img/bg2.jpg');
  background-attachment: fixed;
  width: 100%;
  height: 300px;
  z-index: -2;
  user-select: none;
}

@media only screen and (max-width: 600px) {
    .bg-img2 {
      background-image: url('../img/bg2-1.jpg');
    }
}

.main-title{
  color: #fff;
  font-size: 40px;
}


.sub-title{
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
}



/*-------- 10.table --------*/

table {
    border-collapse: collapse;
    width: 100%;
}

tr{
  height: 30px;
}


.td-1 {
  width: 40%;
}

.td-2 {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.td-3 {
  width: 20%;
}

.td-4 {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.td-5 {
  width: 70%;
}

.thead{
  color: #444;
  font-weight: 400;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .thead {
      font-size: 14px;
    }
}

.tbody{
  color: #444;
  font-weight: 400;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .tbody {
      font-size: 12px;
    }
}


/*-------- 11.container percent --------*/


.div-center{
  margin-left: auto;
  margin-right: auto;
}

.per-90{
  width: 90%;
}

@media only screen and (max-width: 600px) {
    .per-90 {
      width: 100%;
    }
}



.per-80{
  width: 80%;
}

@media only screen and (max-width: 600px) {
    .per-80 {
      width: 90%;
    }
}


.per-70{
  width: 70%;
}

@media only screen and (max-width: 600px) {
    .per-70 {
      width: 95%;
    }
}


/*-------- 12.margin --------*/


.margin-20{
  margin: 20px;
}
.margin-top-20{
  margin-top: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-left-20{
  margin-left: 20px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-40{
  margin: 40px;
}
.margin-top-40{
  margin-top: 40px;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.margin-60{
  margin: 60px;
}
.margin-top-60{
  margin-top: 60px;
}

.margin-bottom-60{
  margin-bottom: 60px;
}










-
