<body id="mypage" data-spy="scroll" data-target=".navbar" data-offset="50" class="body" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <!-- nav -->
    <nav class="navbar-iii ii navbar-inverse navbar-fixed-top" id="navbar" style="top:0; background-color:transparent;">
        <div class="container">
            <div class="navbar-header">
                <!-- 모바일 햄버거 메뉴 버튼 -->
                <button type="button" class="navbar-toggle" id="navbar_button" data-toggle="collapse" data-target="#myNavbar" onclick="toggleNav()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 상단 로고 -->
                <a class="navbar-brand" href="/"><img src="img/logo-03.png" alt="white-logo" class="logo-img"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">소개</a></li>
                    <li><a href="http://bit.ly/32uEHMP">기술블로그</a></li>
                    <li><a href="/product">포트폴리오</a></li>
                    <li><a href="/schedule">활동일정</a></li>
                    <li><a href="/recruit">지원하기</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/feed">Prografeed</a></li>
                            <li><a href="/admin">Admin</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav end -->
