<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/btn.css">
	
	<% include var_header %>
</head>

<body id="mypage" data-spy="scroll" data-target=".navbar" data-offset="50" class="body">
    <!-- nav -->
    <nav class="navbar-iii ii navbar-inverse navbar-fixed-top" id="navbar" style="top:0; background-color:transparent;">
        <div class="container">
            <div class="navbar-header">
                <!-- 모바일 햄버거 메뉴 버튼 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 상단 로고 -->
                <a class="navbar-brand" href="/"><img src="img/logo-03.svg" alt="white-logo" class="logo-img"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">소개</a></li>
                    <li><a href="/activity">공식활동</a></li>
                    <li><a href="/product">포트폴리오</a></li>
                    <li><a href="/history">히스토리</a></li>
                    <li><a href="/recruit">지원하기</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Prografeed</a></li>
                            <li><a href="/login">Admin</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav end -->