<% include common/head_header %>
<link rel="stylesheet" href="css/application.css">
<% include common/body_header %>
    <section id="banner">
        <div class="banner2">
            <div class="bg-img2"></div>
        </div>
        <div class="container">
            <div class="banner-contents2">
                <img src="img/logo-03.svg" alt="white-logo" class="logo-middle div-center">
                <p class="p-submain text-center">[ 프로그라피 <%=n_th%>기 ]</p>
            </div>
        </div>
    </section>
    <div class="box" style="height:150px;"></div>
    <!-- 중간에 띄어놓음 -->

    <section class="container">
        <div class="recruit-box text-center">
            <p class="recruit-box-text">지원자님의 지원서 링크의 <span class="highlight">인증</span>이 실패하였습니다.</p>
            <p class="explain_r">
                지원하기 페이지에서 다시 메일주소를 입력해주세요!
            </p>
            <a href="/" class="text-center home-button" id="home">>>> 홈페이지로 돌아가기</a>
            <div class="box" style="height:20px;"></div>
            <!-- 중간에 띄어놓음 -->
        </div>
    </section>
    <div class="box" style="height:100px;"></div>
<% include common/footer %>
