<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/btn.css">
	
    <% include ../common/var_header %>
	<meta property="og:title" content="<%=n_th%>기 지원서 작성" />
	<% include ../common/var_etc_header.ejs %>
    <title><%=n_th%>기 지원서 작성</title>
</head>

<style>
    .home-button {
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: #ff9f17;
        text-align: center;
        cursor: pointer;
        white-space: nowrap
    }
    
    .explain_r {
        font-size: 14px;
        color: #444;
        margin: 30px 30px 5px;
        line-height: 23px;
    }
    
    #home {
        font-family: 'Spoqa Han Sans', 'Sans-serif';
        color: #fba152;
    }
</style>

<section id="banner">
    <div class="banner2">
        <div class="bg-img2"></div>
    </div>
    <div class="container">
        <div class="banner-contents2">
            <img src="img/logo-03.svg" alt="white-logo" class="logo-middle div-center">
            <p class="p-submain text-center">[ 프로그라피 <%=n_th%>기 ]</p>
        </div>
    </div>
</section>
<div class="box" style="height:150px;"></div>
<!-- 중간에 띄어놓음 -->

<section class="container">
    <div class="recruit-box text-center">
        <p class="recruit-box-text">지원자님의 지원서 링크의 <span class="highlight">인증</span>이 실패하였습니다.</p>
        <p class="explain_r">
            지원하기 페이지에서 다시 메일주소를 입력해주세요!
        </p>
        <a href="/" class="text-center home-button" id="home">>>> 홈페이지로 돌아가기</a>
        <div class="box" style="height:20px;"></div>
        <!-- 중간에 띄어놓음 -->
    </div>
</section>

<div class="box" style="height:100px;"></div>
<!-- 중간에 띄어놓음 -->
<!-- footer -->
<section class="text-center">
    <p class="p-pp"><small>제작 / 2기 WEB 프로젝트 팀</small></p>
    <p class="p-pp"><small>COPYRIGHTⓒPROGRAPHYALLRIGHTSRESERVED</small></p>
    <br>
    <div class="box" style="height:20px;"></div>
    <!-- 중간에 띄어놓음 -->
</section>
<!-- footer end -->

</html>

<!-- -->
