<section class="container">

    <ul class="nav nav-tabs nav-tabs-d">
        <li class="active tab-33 text-center" -><a data-toggle="tab" href="#process">지원 프로세스</a></li>
        <li class="tab-33 text-center"><a id="notice_tab" data-toggle="tab" href="#notice">공지사항</a></li>
        <li class="tab-33 text-center"><a data-toggle="tab" href="#question">자주묻는 질문</a></li>
    </ul>

    <div class="tab-content w3-border-right w3-border-left w3-border-lightgray w3-bottombar">

        <div id="process" class="tab-pane fade in active tab-box-pad">
            <!--이미지 넣기-->
            <img src="img/apply_process.jpg" alt="2th poster" class="tab-img img-responsive">
        </div>

        <div id="notice" class="tab-pane fade tab-box-pad">
            <!--이미지 넣기-->
            <div class="q1">
                <button onclick="myFunction('notice1')" class="w3-button w3-block w3-left-align">
                    1) 홈페이지가 리뉴얼되었습니다. </button>
                <div id="notice1" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">└</div><div>많은 이용 바랍니다.</div>
                </div>
            </div>

            <div class="q2">
                <button onclick="myFunction('notice2')" class="w3-button w3-block w3-left-align">
                    2) 프로그라피 3기 멘토를 모집합니다.</button>
                <div id="notice2" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">└</div><div>멘토에 관심이 있다면 지원해보세요!</div>
                </div>
            </div>

            <div class="q3">
                <button onclick="myFunction('notice3')" class="w3-button w3-block w3-left-align">
                    3) 프로그라피 3기 회원을 모집합니다. </button>
                <div id="notice3" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">└</div><div>궁금한 사항이 있으시다면, 우측하단 채팅으로 질문주시면 대답 드립니다.</div>
                </div>
            </div>

        </div>

        <div id="question" class="tab-pane fade tab-box-pad">
            <!--이미지 넣기-->
            <div class="q1">
                <button onclick="myFunction('accordion1')" class="w3-button w3-block w3-left-align">
                    Q. 면접은 어떻게 진행이 되나요?</button>
                <div id="accordion1" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>면접은 다수대 다수로 진행이 되고, 약 20분정도 소요가 된답니다(찡긋)</div>
                </div>
            </div>

            <div class="q2">
                <button onclick="myFunction('accordion2')" class="w3-button w3-block w3-left-align">
                    Q. 면접준비는 어떻게 할까요?</button>
                <div id="accordion2" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>면접은 지원서 토대로 질문드리는 개인 질문과 모두에게 통일된 질문을 드리는 공통질문이 있습니다.(찡긋)</div>
                </div>
            </div>

            <div class="q3">
                <button onclick="myFunction('accordion3')" class="w3-button w3-block w3-left-align">
                    Q. 몇명 뽑나요?</button>
                <div id="accordion3" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>웹 프론트 6명, 루비온 레일즈 4명, 장고 1명, 노드 2명, 안드로이드 3명, 딥러닝 6명, UI-UX 6명을 선발합니다. 장고, 노드, 안드로이드, 딥러닝은 경쟁률이 굉장히 세기 때문에 참고하여 지원 부탁드립니다!</div>
                </div>
            </div>

            <div class="q4">
                <button onclick="myFunction('accordion4')" class="w3-button w3-block w3-left-align">
                    Q. 직장인도 지원 가능한가요?</button>
                <div id="accordion4" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>토요일 오후 정기세션 및 주 1회 평일 저녁 조모임에 빠짐없이 참여 가능하시면 얼마든지 가능합니다!</div>
                </div>
            </div>

            <div class="q5">
                <button onclick="myFunction('accordion5')" class="w3-button w3-block w3-left-align">
                    Q. 세션장소는 어디인가요?</button>
                <div id="accordion5" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>서울 각 지역 대학 및 역삼 마루180, 선릉 디캠프 등을 대관하여 진행합니다!</div>
                </div>
            </div>

            <div class="q6">
                <button onclick="myFunction('accordion6')" class="w3-button w3-block w3-left-align">
                    Q. 선발되면 체계적으로 해당 분야에 대해서 배울 수 있나요?</button>
                <div id="accordion6" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>프로그라피는 교육 중심 동아리가 아닌, 프로젝트 동아리이기 때문에, 커리큘럼에 따른 멘토링이 예정되어 있지만, 본인이 스스로 배워나가는 것이 중심이 되겠습니다!</div>
                </div>
            </div>
        </div>
    </div>
</section>
