<% include ../common/head_header %><meta property="og:title" content="지원하기" /><% include ../common/body_header %>
    <link rel="stylesheet" href="css/history.css">
    <title>지원하기</title>

    <section>
        <div class="banner">
            <div class="re-bg-img">
            </div>
        </div>
        <div class="container">
            <div class="banner-contents">
                <p class="main-title">지원하기 <span class="p-md">( ~ <%=due_month%>/<%=due_day%>)</span></p>
                <p class="sub-title">진정 빡코딩을 원하는자, 주저말고 지원하자!
                    <br>라피가 그대를 기다리고 있다!</p>
                <a href="#tabs-tabs" onclick="$('#notice_tab').click()" data-toggle="tab" class="btn-pink-top scroll">공지사항 확인</a>
            </div>
        </div>
    </section>

    <div class="box" style="height:100px;" id="tabs-tabs"></div>
	<section class="container">
		<img style="margin-bottom:100px;" src="img/18.02_2nd_poster.jpg" alt="2th poster" class="poster img-responsive">
	</section>
	
    <% include recruit-tab-content %>

    <div class="box" style="height:150px;"></div>
    <section class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <!-- <form action="/send"> -->
                <div class="input-group">
                    <input type="text" class="form-control input-lg btn-white-nohover" placeholder="지원자의 메일을 적어주세요" id="email_to">
                    <div class="input-group-btn">
                        <button class="btn btn-default input-lg btn-pink-small" type="button" onclick="send_email()">메일전송</button>
                    </div>

                </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="col-sm-1"></div>

        <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:14px;">
        * 해당 메일로 지원서가 보내집니다 / 지원서는 <%=due_month%>월 <%=due_day%>일까지 접수 가능합니다</span>
    </section>
    <div class="box" style="height:200px;"></div>

    <!-- Modal-alert -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span>알림</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="mail_success_message" style="text-align: center"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/recruit-ing.js"></script>
<% include ../common/footer %>
