<section class="container">

    <ul class="nav nav-tabs nav-tabs-d">
        <li class="active tab-33 text-center" -><a data-toggle="tab" href="#process">지원 프로세스</a></li>
        <li class="tab-33 text-center"><a id="notice_tab" data-toggle="tab" href="#notice">공지사항</a></li>
        <li class="tab-33 text-center"><a data-toggle="tab" href="#question">자주묻는 질문</a></li>
    </ul>

    <div class="tab-content w3-border-right w3-border-left w3-border-lightgray w3-bottombar">

        <div id="process" class="tab-pane fade in active tab-box-pad">
            <!--이미지 넣기-->
            <img src="img/apply_process.jpg" alt="2th poster" class="tab-img img-responsive">
        </div>

        <div id="notice" class="tab-pane fade tab-box-pad">
            <!--이미지 넣기-->
            <div class="q1">
                <button onclick="myFunction('notice1')" class="w3-button w3-block w3-left-align">
                    1) 홈페이지가 리뉴얼되었습니다. </button>
                <div id="notice1" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">└</div><div>많은 이용 바랍니다.</div>
                </div>
            </div>

            <div class="q2">
                <button onclick="myFunction('notice2')" class="w3-button w3-block w3-left-align">
                    2) 프로그라피 4기 회원을 모집합니다.</button>
                <div id="notice2" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">└</div><div>자세한 내용은 포스터를 참조해주세요!</div>
                </div>
            </div>

        </div>

        <div id="question" class="tab-pane fade tab-box-pad">
            <!--이미지 넣기-->
            <div class="q1">
                <button onclick="myFunction('accordion1')" class="w3-button w3-block w3-left-align">
                    Q. 면접은 어떻게 진행이 되나요?</button>
                <div id="accordion1" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>면접은 다수대 다수로 진행이 되고, 약 30분정도 소요가 된답니다(찡긋)</div>
                </div>
            </div>

            <div class="q2">
                <button onclick="myFunction('accordion3')" class="w3-button w3-block w3-left-align">
                    Q. 몇명 뽑나요?</button>
                <div id="accordion3" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>4기부터는 선발인원에 제한을 두고 있지 않습니다!</div>
                </div>
            </div>

            <div class="q3">
                <button onclick="myFunction('accordion4')" class="w3-button w3-block w3-left-align">
                    Q. 직장인도 지원 가능한가요?</button>
                <div id="accordion4" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>토요일 오후 진행되는 정기세션과 주중 진행되는 멘토링 세션에 빠짐없이 참여 가능하시면 얼마든지 가능합니다!</div>
                </div>
            </div>

            <div class="q4">
                <button onclick="myFunction('accordion5')" class="w3-button w3-block w3-left-align">
                    Q. 세션장소는 어디인가요?</button>
                <div id="accordion5" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>서울 각 지역 대학 및 역삼 마루180, 선릉 디캠프 등을 대관하여 진행합니다!</div>
                </div>
            </div>

            <div class="q5">
                <button onclick="myFunction('accordion6')" class="w3-button w3-block w3-left-align">
                    Q. 선발되면 체계적으로 해당 분야에 대해서 배울 수 있나요?</button>
                <div id="accordion6" class="w3-hide w3-container re-notice-container">
                    <div class="re-content-tag">A.</div><div style="margin:10px;">앗, 그점이 궁금하셨군요? 친절한 라피가 알려드리지요!
                        <br>프로그라피는 교육 중심 동아리가 아닌, 프로젝트 동아리이기 때문에, 커리큘럼에 따른 멘토링이 예정되어 있지만, 본인이 스스로 배워나가는 것이 중심이 되겠습니다!</div>
                </div>
            </div>
        </div>
    </div>
</section>
