<% include common/head_header %>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=RuMDkrnvrsm4X3T9Fz2u&submodules=geocoder"></script>
<% include common/body_header %>
    <section id="banner">
        <div class="banner2">
            <div class="bg-img2"></div>
        </div>
        <div class="container">
            <div class="banner-contents2">
                <a href="/"><img src="img/logo-03.svg" alt="white-logo" class="logo-middle"></a>
                <p class="p-submain text-center">[ 프로그라피 <%=n_th%>기 ]
                    <br><span>최종 선발 결과 확인</span></p>
            </div>
        </div>
    </section>
    <div class="box" style="height:150px;"></div>
    <!-- 중간에 띄어놓음 -->

    <section id="result-before-1" class="container" >
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control input-lg btn-white-nohover" placeholder="지원자의 메일을 적어주세요" id="email" name="email" onkeyup="enterkey();">
                    <div class="input-group-btn">
                        <button class="btn btn-default input-lg btn-orange-small" onclick="checkValue()" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:14px;">
            * 본인 확인을 위해 메일을 적어주세요</span>
    </section>

    <section id="result-after-fail-1" class="container" style="display:none;">
        <div class="recruit-box">
            <img src="img/emotion-sad.svg" class="tab-img-circle">
            <p class="text-center recruit-box-text"><span class="highlightname"> </span>님께서는 프로그라피 <%=n_th%>기
                <br> 최종 <span class="highlight">불합격 입니다.</span></p>
            <p class="text-center explain">
                안녕하십니까 지원자님, 소중한 시간을 할애하여 지원해주시고, 동아리를 관심있게 봐주심에 우선 감사의 말씀을 전합니다.
                <br>
                <br> 동아리 합격 불합격 기준에 있어, 프로그라피 나름의 선정 기준에 대해 전해드리고자 합니다</p>
            <ul class="explain">
                <li class="highlight">개인적인 공부에 있어 시간이 있는가</li>
                <li class="highlight">프로젝트에 참여할 수 있는 준비가 충분히 되어 있는가</li>
                <li class="highlight">동아리 활동에 적극적일수 있을까</li>
            </ul>
            <p class="text-center explain">
                이러한 기준을 가지고 동아리에 적합한 인물을 선발하였으며, 지원자님께서 부족해서 불합격을 드리는 점이 아니라, 동아리가 많은 사람들을 모두 담지 못해서이오니 좀더 발전하여 공부하고자 하는 모든 사람을 담을 수 있는 동아리가 되겠습니다.
                <br>다시한번 감사드리고 유감의 말씀 전합니다. </p>
        </div>
    </section>

    <section id="result-after-select-1" class="container" style="display:none;">
        <div class="recruit-box">
            <img src="img/emotion_smile.svg" class="tab-img-circle">
            <p class="text-center recruit-box-text">축하합니다!!! <span class="highlightname"> </span>님은 최종 <span class="highlight">합격</span>하셨습니다!
                <br> <br> 8월 29일 수요일 낮 12시까지 회비 30,000 원 및 엠티비 25,000 원을 <br> <span class="highlight">우리은행 01025441859 장준혁</span> 으로 실명입금해주시길 바랍니다.
                <br> 입금 완료되신 분에 한하여 단톡방 초대가 이루어질 예정입니다! (엠티비는 엠티 참여자만 입금 주시면 됩니다.) 
                <br> <br> <span class="highlight"> OT는 역삼 마루180 에서 9월 1일 오후 3시부터 진행되며 (약도참조), 
                <br> MT 는 OT가 종료된 이후 이어서 서울대입구역 우리동네엠티에서 진행됩니다.</span> </p>
			<div id="map" class="map" style="width:80%;height:500px;margin:0 auto 50px auto;"></div>
            <div class="box" style="height:20px;"></div>
            <input type="button" onclick="location.href='/'" value="홈으로" class="submit-btn">
            <div class="box" style="height:50px;"></div>
        </div>
    </section>

    <div class="box" style="height:100px;"></div>
    <script type="text/javascript" src="js/recruit-result2.js"></script>
<% include common/footer %>
