<% include common/head_header %>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9101914s32"></script>
<% include common/body_header %>
    <section id="banner">
        <div class="banner2">
            <div class="bg-img2"></div>
        </div>
        <div class="container">
            <div class="banner-contents2">
                <a href="/"><img src="img/logo-03.svg" alt="white-logo" class="logo-middle"></a>
                <p class="p-submain text-center">[ 프로그라피 <%=n_th%>기 ]
                    <br><span>최종 선발 결과 확인</span></p>
            </div>
        </div>
    </section>
    <div class="box" style="height:150px;"></div>
    <!-- 중간에 띄어놓음 -->

    <section id="result-before-1" class="container" >
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control input-lg btn-white-nohover" placeholder="지원자의 메일을 적어주세요" id="email" name="email" onkeyup="enterkey();">
                    <div class="input-group-btn">
                        <button class="btn btn-default input-lg btn-orange-small" onclick="checkValue()" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:14px;">
            * 본인 확인을 위해 메일을 적어주세요</span>
    </section>

    <section id="result-after-fail-1" class="container" style="display:none;">
        <div class="recruit-box">
            <img src="img/emotion-sad.svg" class="tab-img-circle">
            <p class="text-center recruit-box-text"><span class="highlightname"> </span>님께서는 프로그라피 <%=n_th%>기
                <br> 최종 <span class="highlight">불합격 입니다.</span></p>
            <p class="text-center explain">
                안녕하십니까 지원자님, 소중한 시간을 할애하여 지원해주시고, 프로그라피를 관심있게 봐주심에 우선 감사의 말씀을 전합니다.
                <br>
                <br> 프로그라피 서류 전형에 있어 합격 불합격 기준에 있어, 프로그라피 나름의 선정 기준에 대해 전해드리고자 합니다</p>
            <ul class="explain">
                <li class="highlight">공부를 하기 위한 목적이 아니라 정말 서비스를 함께 만들어나가고 싶은 열망으로 지원을 하였는가.</li>
                <li class="highlight">프로그라피에 시간과 열정과 땀을 아낌없이 쏟을 수 있는가.</li>
                <li class="highlight">서비스를 만들어나가기 위한 기본적인 지식과 능력을 갖추가 있는가.</li>
            </ul>
            <p class="text-center explain">
                이러한 기준을 가지고 프로그라피에 적합한 인물을 선발하였으며, 지원자님께서 부족해서 불합격을 드리는 점이 아니라, 프로그라피가 모든 사람들을 포용할 수 있을 정도로 갖추어지지 못하여 함께 하지 못하는 점 이해 부탁드립니다. 더욱 더 발전하는 프로그라피가 되어 다음 기회에 함께할 수 있었으면 좋겠습니다.
                <br>다시한번 감사드리고 유감의 말씀 전합니다. </p>
        </div>
    </section>

    <section id="result-after-select-1" class="container" style="display:none;">
        <div class="recruit-box">
            <img src="img/emotion_smile.svg" class="tab-img-circle">
            <p class="text-center recruit-box-text">축하합니다!!! <span class="highlightname"> </span>님은 최종 <span class="highlight">합격</span>하셨습니다!
                <br> <br> 9월 11일 수요일 낮 12시까지 회비 100,000 원을 <br> <span class="highlight">우리은행 01025441859 장준혁</span> 으로 실명입금해주시길 바랍니다.
                <br> 또한, 다음 링크에서 설문을 작성해주세요! <a href="https://forms.gle/91Bue7fKPNQQXkkr5" target="_blank" style="color:#00a;">*설문링크*</a>
                <br> <br> 입금과 설문이 완료되신 분에 한하여 수요일 오후 1시에 <span class="highlight">프로그라피 슬랙</span> 초대가 이루어질 예정입니다!
                <br> 수요일 오후 1시 이후에 본인 메일함을 확인해주세요! 슬랙에 입장할 수 있습니다. 
                <br> 슬랙 입장 후 다음 작업들을 수행해주셔야 합니다!
                <br> <br> 1) 슬랙 <span class="highlight">알림설정(진동)</span>을 해주세요! 프로그라피의 모든 공지와 일정을 놓치지 않기 위해서 반드시 설정해주셔야 합니다.
                <br> 2) <span class="highlight">5_notify</span> 채널에 합류해주세요! 5_notify 채널에서 각종 공지를 확인하실 수 있습니다.
                <br> 3) 슬랙에 표시되는 본인 이름을 <span class="highlight">실명</span>(ex.홍길동) 으로 설정해주세요! 보다 원활한 커뮤니케이션을 위해서 입니다.
                <br> 4) <span class="highlight">프로필 사진</span>을 자유롭게 설정해주세요! 꼭 본인의 사진일 필요는 없습니다! 
                <br> 5) <span class="highlight">5_introduce</span> 채널에 합류해주세요! 합류하신 후, 본인의 사진을 포함하여 자기소개를 업로드 해주세요! (자기소개 양식 및 예시는 미리 올라가 있을 예정입니다!)
                <br> <br> <span class="highlight"> OT는 역삼 마루180 에서 9월 21일 오후 3시부터 진행됩니다 (약도참조) </span>
			<div id="map" class="map" style="width:80%;height:500px;margin:0 auto 50px auto;"></div>
            <div class="box" style="height:20px;"></div>
            <input type="button" onclick="location.href='/'" value="홈으로" class="submit-btn">
            <div class="box" style="height:50px;"></div>
        </div>
    </section>

    <div class="box" style="height:100px;"></div>
    <script type="text/javascript" src="js/recruit-result2.js"></script>
<% include common/footer %>
