<% include ../common/head_header %>
<link rel="stylesheet" href="css/history.css">
<% include ../common/body_header %>
    <section>
        <div class="banner">
            <div class="re-bg-img">
            </div>
        </div>
        <div class="container">
            <div class="banner-contents">
                <p class="main-title">지원하기 <span class="p-md">1차 서류접수 마감</span></p>
                <p class="sub-title">1차 합격 여부는 8/21 일 오후 6시부터
                    <br>지원하기 탭에서 확인하실 수 있습니다.</p>
                <a href="/" class="btn-pink-top scroll" target="_blank">메인으로 돌아가기</a>
            </div>
        </div>
    </section>

    <div class="box" style="height:100px;"></div>
    <% include recruit-tab-content %>
    <div class="box" style="height:150px;"></div>
    <section class="container">
        <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:20px;">
        현재는 모집기간이 아닙니다.</span>
    </section>
    <div class="box" style="height:200px;"></div>

<% include ../common/footer %>
