<% include common/head_header %>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=RuMDkrnvrsm4X3T9Fz2u&submodules=geocoder"></script>
<% include common/body_header %>
    <section id="banner">
        <div class="banner2">
            <div class="bg-img2"></div>
        </div>
        <div class="container">
            <div class="banner-contents2">
                <a href="/"><img src="img/logo-03.svg" alt="white-logo" class="logo-middle"></a>
                <p class="p-submain text-center">[ 프로그라피 <%=n_th%>기 ]
                    <br><span>1차 서류전형 결과 확인</span></p>
            </div>
        </div>
    </section>
    <div class="box" style="height:150px;"></div>

    <section id="result-before-1" class="container" >
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control input-lg btn-white-nohover" placeholder="지원자의 메일을 적어주세요" id="email" name="email" onkeyup="enterkey();">
                    <div class="input-group-btn">
                        <button class="btn btn-default input-lg btn-orange-small" onclick="checkValue()" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <span class="help-block text-center" style="margin-top:20px; color:gray; font-size:14px;">
            * 본인 확인을 위해 메일을 적어주세요</span>
    </section>

    <section id="result-after-pass-1" class="container" style="display:none;">
        <input id="hidden_flags" value="" hidden>
        <div class="recruit-box">
            <img src="img/emotion_smile.svg" class="tab-img-circle">
            <p id="pass-1" class="text-center recruit-box-text"><span class="highlightname"></span>님 프로그라피 <%=n_th%>기 모집
                <br> 1차 서류전형 <span class="highlight">합격을 축하드립니다.</span>
            </p>
        </div>
        <div class="recruit-box" style="margin-top:20px; height:600px;">
            <p class="text-center explain">
                추후 진행되는 면접 일정을 위한 선택지 입니다. 면접일정 선택 마감은 8월 29일 오후 23시 59분 59초 입니다!
                <br> 가능한 일정은 <span class="highlight-black">선착순으로</span> 선택 가능하시며,
                <span class="highlight-black">한 시간당 제한된 인원이 선택 가능합니다. 정원이 모두 찬 시간은 선택이 불가능합니다. <br>
                <br>지원자 분들께서는 본인 지원분야에 따라서 pdf 파일을 내려 받거나 github 링크로 접속하여, 안내에 따라서 사전과제를 진행해주시길 바랍니다! </span>
                <br> 사전과제가 합/불을 직접 결정하지는 않으나, 선발에 참고할 예정입니다! 완벽하게 수행하시지 못하더라도, 가능한만큼 수행하여 업로드 해주시길 바랍니다! 
                <br> 기한은 전 분야 9월 4일 (수) 자정까지이며, 지원시 제출하였던 본인의 깃허브 주소로 과제를 업로드 해주시면 됩니다!
                <span class="highlight-black">
                <br> <a target="_blank" rel="noopener noreferrer" href="https://github.com/prography/4th-front-test" style="color:#444; padding:5px;"> **front** </a>
                <a href="pdf/prography_4_nodejs.pdf" download="prography_4_nodejs.pdf" style="padding:5px;"> **node.js** </a>
                <a href="pdf/prography_4_django.pdf" download="prography_4_django.pdf" style="padding:5px;"> **python-django** </a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/prography/4th-deeplearning-test" style="color:#444; padding:5px;"> **deep-learning** </a>
                </span>
            </p>
            <div class="w3-panel w3-border-top w3-border-lightgray" style="width:90%; height:auto; margin-right:auto; margin-left:auto;"></div>
            <table class="table table-striped text-center" style="width:90%; margin-right:auto; margin-left:auto;">
                <tbody>
                    <tr class="thead">
                        <td class="td-1">시간</td>
                        <td class="td-2">8일 (토)</td>
                        <td class="td-2">9일 (일)</td>
                    </tr>
                    <tr class="tbody">
                        <td class="td-1">오후 1~2</td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="23,1,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="24,1,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr class="tbody">
                        <td class="td-1">오후 2~3</td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="23,2,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="24,2,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr class="tbody">
                        <td class="td-1">오후 3~4</td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="23,3,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="24,3,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr class="tbody">
                        <td class="td-1">오후 4~5</td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="23,4,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="td-2">
                            <label class="label-circle">
                                <input type="radio" name="radio" value="24,4,0">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" onclick="schedule_submit()" value="면접일정 제출하기" class="submit-btn" name="submit_day">
        </div>
    </section>

    <section id="result-after-fail-1" class="container" style="display:none;">
        <div class="recruit-box">
            <img src="img/emotion-sad.svg" class="tab-img-circle">
            <p class="text-center recruit-box-text"><span class="highlightname"> </span>님께서는 프로그라피 <%=n_th%>기
                <br> 1차 서류전형 <span class="highlight">불합격 입니다.</span></p>
            <p class="text-center explain">
                안녕하십니까 지원자님, 소중한 시간을 할애하여 지원해주시고, 동아리를 관심있게 봐주심에 우선 감사의 말씀을 전합니다.
                <br>
                <br> 동아리 서류 전형에 있어 합격 불합격 기준에 있어, 프로그라피 나름의 선정 기준에 대해 전해드리고자 합니다</p>
            <ul class="explain">
                <li class="highlight">공부를 하기 위한 목적이 아니라 정말 서비스를 함께 만들어나가고 싶은 열망으로 지원을 하였는가.</li>
                <li class="highlight">동아리에 시간과 열정과 땀을 아낌없이 쏟을 수 있는가.</li>
                <li class="highlight">서비스를 만들어나가기 위한 기본적인 지식과 능력을 갖추가 있는가.</li>
            </ul>
            <p class="text-center explain">
                이러한 기준을 가지고 동아리에 적합한 인물을 선발하였으며, 지원자님께서 부족해서 불합격을 드리는 점이 아니라, 동아리가 모든 사람들을 포용할 수 있을 정도로 갖추어지지 못하여 함께 하지 못하는 점 이해 부탁드립니다. 더욱 더 발전하는 동아리가 되어 다음 기회에 함께할 수 있었으면 좋겠습니다.
                <br>다시한번 감사드리고 유감의 말씀 전합니다. </p>
        </div>
    </section>

    <section id="result-after-select-1" class="container" style="display:none;">
        <div class="recruit-box">
            <img src="img/emotion_smile.svg" class="tab-img-circle">
            <p class="text-center recruit-box-text"><span class="highlightname"> </span>님의  면접은
                <br> <span id="message" class="highlight"></span></p>
			<div id="map" class="map" style="width:80%;height:500px;margin:0 auto 50px auto;"></div>
            <p class="text-center explain">
                반드시 10분 전까지 도착하셔서 안내를 받아주시길 바라며,  늦게 도착하시는 경우 면접에 참여하실 수 없습니다.
                <br> <br> 지원자 분들께서는 본인 지원분야에 따라서 pdf 파일을 내려 받거나 github 링크로 접속하여, 안내에 따라서 사전과제를 진행해주시길 바랍니다!
                <br> 사전과제가 합/불을 직접 결정하지는 않으나, 선발에 참고할 예정입니다! 완벽하게 수행하시지 못하더라도, 가능한만큼 수행하여 업로드 해주시길 바랍니다! 
                <br> 기한은 전 분야 9월 4일 (수) 자정까지이며, 지원시 제출하였던 본인의 깃허브 주소로 과제를 업로드 해주시면 됩니다!
                <span class="highlight-black">
                <br> <a target="_blank" rel="noopener noreferrer" href="https://github.com/prography/4th-front-test" style="color:#444; padding:5px;"> **front** </a>
                <a href="pdf/prography_4_nodejs.pdf" download="prography_4_nodejs.pdf" style="padding:5px;"> **node.js** </a>
                <a href="pdf/prography_4_django.pdf" download="prography_4_django.pdf" style="padding:5px;"> **python-django** </a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/prography/4th-deeplearning-test" style="color:#444; padding:5px;"> **deep-learning** </a>
                </span>
            </p>
            <input type="submit" onclick="resubmit()" value="면접일정 취소 후 다시 선택" class="submit-btn" name="resubmit">
            <div class="box" style="height:20px;"></div>
            <input type="button" onclick="location.href='/'" value="홈으로" class="submit-btn">
            <div class="box" style="height:50px;"></div>
        </div>
    </section>

    <div class="box" style="height:100px;"></div>
    <script type="text/javascript" src="js/recruit-result1.js"></script>
<% include common/footer %>
